<aside id="sidebar-left" class="sidebar-left">

                    <div class="sidebar-header">
                        <div class="sidebar-title">
                            Navigation
                        </div>
                        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                        </div>
                    </div>

                    <div class="nano">
                        <div class="nano-content">
                            <nav id="menu" class="nav-main" role="navigation">
                                <ul class="nav nav-main">
                                    <li class="nav-active">
                                        <a href="<%= request.base_url %>/admin/">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>Dashboard</span>
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="<%= request.base_url %>/admin/packages">
                                            <i class="fa fa-cubes" aria-hidden="true"></i>
                                            <span>Packages</span>
                                        </a>
                                    </li> -->
                                    <li>
                                        <a href="<%= request.base_url %>/admin/services">
                                            <i class="fa fa-star-half-empty" aria-hidden="true"></i>
                                            <span>Services / Features</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="<%= request.base_url %>/admin/subscriber">
                                            <span class="pull-right label label-primary">
                                            <%=
                                                @newsubscrb = User.where(status: 'new')
                                                @newsubscrb.count
                                            %>
                                            </span>
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            <span>Subscriber</span>
                                        </a>
                                    </li>

                                    <li class="nav-parent">
                                        <a>
                                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            <span>Softwares and Application</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            <li>
                                                <a href="<%= request.base_url %>/admin/software_n_games">
                                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                                     Products
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<%= request.base_url %>/admin/softwarecategory">
                                                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                                                     Category
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<%= request.base_url %>/admin/softwaresubcategory">
                                                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                                                     Sub Category
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="<%= request.base_url %>/admin/inquiry">
                                            <span class="pull-right label label-primary">
                                            <%=
                                                @newinquiry = Inquiry.where(status: 'new')
                                                @newinquiry.count
                                            %>
                                            </span>
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <span>Inquiry/Feedback</span>
                                        </a>
                                    </li>
                                    <!--
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-desktop" aria-hidden="true"></i>
                                            <span>Cloud PC</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#.html">
                                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                            <span>Software Installation Request</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#.html">
                                            <i class="fa fa-star-half-empty" aria-hidden="true"></i>
                                            <span>Ratings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#.html">
                                            <i class="fa fa-exchange" aria-hidden="true"></i>
                                            <span>Subscription Change Request</span>
                                        </a>
                                    </li>
                                    -->

                                    <li class="nav-parent">
                                        <a>
                                            <i class="fa fa-cogs" aria-hidden="true"></i>
                                            <span>Setting</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            
                                            <li>
                                                <a href="<%= request.base_url %>/admin/cloud_service">
                                                    <i class="fa fa-desktop" aria-hidden="true"></i>
                                                     Cloud Service
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<%= request.base_url %>/admin/cloud_os">
                                                    <i class="fa fa-desktop" aria-hidden="true"></i>
                                                    Cloud OS
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<%= request.base_url %>/admin/cloud_ram">
                                                    <i class="fa fa-desktop" aria-hidden="true"></i>
                                                    Cloud RAM
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<%= request.base_url %>/admin/cloud_harddisk">
                                                    <i class="fa fa-desktop" aria-hidden="true"></i>
                                                    Cloud Harddisk
                                                </a>
                                            </li>

                                            <li>
                                                <a href="<%= request.base_url %>/admin/adminuser">
                                                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                                                    Admin Users
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-parent">
                                        <a>
                                            <i class="fa fa-cogs" aria-hidden="true"></i>
                                            <span>CMS Pages</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            <li>
                                                <a href="<%= request.base_url %>/admin/site_setting_main">
                                                    <i class="fa fa-code" aria-hidden="true"></i>
                                                     Site Info Main
                                                </a>
                                            </li>

                                            <li>
                                                <a href="<%= request.base_url %>/admin/site_setting_service">
                                                    <i class="fa fa-code" aria-hidden="true"></i>
                                                     Site Info Features
                                                </a>
                                            </li>

                                            <li>
                                                <a href="<%= request.base_url %>/admin/site_setting_pricing">
                                                    <i class="fa fa-code" aria-hidden="true"></i>
                                                     Site Info Pricing
                                                </a>
                                            </li>

                                            <li>
                                                <a href="<%= request.base_url %>/admin/site_setting_hiw">
                                                    <i class="fa fa-code" aria-hidden="true"></i>
                                                     Site Info How It Works
                                                </a>
                                            </li>

                                            <li>
                                                <a href="<%= request.base_url %>/admin/site_setting_home">
                                                    <i class="fa fa-code" aria-hidden="true"></i>
                                                     Site Info Home
                                                </a>
                                            </li>

                                            <li>
                                                <a href="<%= request.base_url %>/admin/faq">
                                                    <i class="fa fa-code" aria-hidden="true"></i>
                                                     FAQ
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<%= request.base_url %>/admin/release_notes">
                                                    <i class="fa fa-code" aria-hidden="true"></i>
                                                     Release Notes
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<%= request.base_url %>/admin/hiring">
                                                    <i class="fa fa-code" aria-hidden="true"></i>
                                                     We're Hiring
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<%= request.base_url %>/admin/product_support">
                                                    <i class="fa fa-code" aria-hidden="true"></i>
                                                     Product Support
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<%= request.base_url %>/admin/knowledge_base">
                                                    <i class="fa fa-code" aria-hidden="true"></i>
                                                     Knowledge Base
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<%= request.base_url %>/admin/homeslider">
                                                    <i class="fa fa-film" aria-hidden="true"></i>
                                                     Home Slider
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>

                            <hr class="separator" />

                    </div>

                </aside>
