<!doctype html>
<html class="fixed">
    <head>

        <!-- Basic -->
        <meta charset="UTF-8">

        <title>Dashboard | JSticks Path To the Cloude</title>
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Web Fonts  -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/magnific-popup/magnific-popup.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

        <!-- Specific Page Vendor CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/morris/morris.css" />
        <!-- Theme CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/stylesheets/theme.css" />

        <!-- Skin CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/stylesheets/skins/default.css"/>

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/stylesheets/theme-custom.css">

        <!-- Head Libs -->
        <script src="<%= request.base_url %>/admin/assets/vendor/modernizr/modernizr.js"></script>
    </head>
    <body>
        <section class="body">

            <!-- start: header -->
            <%= render 'header' %>
            <!-- end: header -->

            <div class="inner-wrapper">
                <!-- start: sidebar -->
                <%= render 'leftmenu' %>
                <!-- end: sidebar -->

                <section role="main" class="content-body">
                   <div class="<%= @msgls %>"><%= @msg %></div>
                   <header class="page-header">
                        <h2>Inquiry / Feedback</h2>                    
                        <div class="right-wrapper pull-right">
                            <ol class="breadcrumbs">
                                <li>
                                    <a href="index.html">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li><span>Inquiry or Feedback</span></li>
                            </ol>
                    
                            <a class="sidebar-right-toggle"></a>
                        </div>
                    </header>

                    <!-- start: page -->
                    <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <button id="addToTable" class="btn btn-primary hide" >Add <i class="fa fa-plus"></i></button>
                                </div>
                        
                                <h2 class="panel-title">Inquiry / Feedback</h2>
                            </header>
                            <div class="panel-body">
                                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Message</th>
                                            <th class="hidden-phone">Status</th>
                                            <th class="hidden-phone">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @inquirys.each do |inquiry| %>
                                        <tr class="gradeA">
                                            <td><%= inquiry.firstname %> <%= inquiry.lastname %></td>
                                            <td><%= inquiry.email %></td>
                                            <td><%= inquiry.phone %></td>
                                            <td><%= inquiry.message %></td>
                                            <td class="center hidden-phone"><button type="button" class="mb-xs mt-xs mr-xs btn btn-xs btn-<%= inquiry.status %>"><%= inquiry.status.capitalize %></button></td>
                                            <td class="actions">
                                                <a href="<%= request.base_url %>/admin/inquiry/edit/<%= inquiry.id %>" class="on-default edit-row"><i class="fa fa-mail-reply"></i></a>
                                                <a rel="nofollow" href="<%= request.base_url %>/admin/inquiry/delete/<%= inquiry.id %>" class="on-default remove-row" onclick="return confirm('<%= inquiry.firstname %> <%= inquiry.lastname %> : Are you sure to delete my inquiry ?');" ><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    
                    <!-- end: page -->
                </section>
            </div>

            
        </section>

       <!-- Vendor -->
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery/jquery.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/nanoscroller/nanoscroller.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/magnific-popup/magnific-popup.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
        
        <!-- Specific Page Vendor -->
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-appear/jquery.appear.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.pie.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.categories.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.resize.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/raphael/raphael.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/morris/morris.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/gauge/gauge.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/snap-svg/snap.svg.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/liquid-meter/liquid.meter.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/jquery.vmap.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
        
        <!-- Theme Base, Components and Settings -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/theme.js"></script>
        
        <!-- Theme Custom -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/theme.custom.js"></script>
        
        <!-- Theme Initialization Files -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/theme.init.js"></script>


        <!-- Examples -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/dashboard/examples.dashboard.js"></script>
    </body>
</html>