<!doctype html>
<html class="fixed">
    <head>
        <!-- Basic -->
        <meta charset="UTF-8">

        <title>Dashboard | JSticks Path To the Cloude</title>
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Web Fonts  -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/magnific-popup/magnific-popup.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

        <!-- Specific Page Vendor CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/morris/morris.css" />
        <!-- Theme CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/stylesheets/theme.css" />

        <!-- Skin CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/stylesheets/skins/default.css"/>

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/stylesheets/theme-custom.css">

        <!-- Head Libs -->
        <script src="<%= request.base_url %>/admin/assets/vendor/modernizr/modernizr.js"></script>
    </head>
    <body>
        <section class="body">

            <!-- start: header -->
            <%= render 'header' %>
            <!-- end: header -->

            <div class="inner-wrapper">
                <!-- start: sidebar -->
                <%= render 'leftmenu' %>
                <!-- end: sidebar -->

                <section role="main" class="content-body">
                    <header class="page-header">
                        <h2>Dashboard</h2>
                    
                        <div class="right-wrapper pull-right">
                            <ol class="breadcrumbs">
                                <li>
                                    <a href="/">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li><span>Dashboard</span></li>
                            </ol>
                    
                            <a class="sidebar-right-toggle" ></a>
                        </div>
                    </header>

                    <!-- start: page -->
                    <div class="row">
                        <div class="col-md-6 col-lg-12 col-xl-6">
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="chart-data-selector hide" id="salesSelectorWrapper">
                                                

                                                <div id="salesSelectorItems" class="chart-data-selector-items mt-sm">
                                                    <!-- Flot: Sales Porto Admin -->
                                                    <div class="chart chart-sm" data-sales-rel="Porto Admin" id="flotDashSales1" class="chart-active"></div>
                                                    <script>

                                                        var flotDashSales1Data = [{
                                                            data: [
                                                                ["Jan", 140],
                                                                ["Feb", 240],
                                                                ["Mar", 190],
                                                                ["Apr", 140],
                                                                ["May", 180],
                                                                ["Jun", 320],
                                                                ["Jul", 270],
                                                                ["Aug", 180]
                                                            ],
                                                            color: "#0088cc"
                                                        }];

                                                        // See: admin/assets/javascripts/dashboard/examples.dashboard.js for more settings.

                                                    </script>

                                                    <!-- Flot: Sales Porto Drupal -->
                                                    <div class="chart chart-sm" data-sales-rel="Porto Drupal" id="flotDashSales2" class="chart-hidden"></div>
                                                    <script>

                                                        var flotDashSales2Data = [{
                                                            data: [
                                                                ["Jan", 240],
                                                                ["Feb", 240],
                                                                ["Mar", 290],
                                                                ["Apr", 540],
                                                                ["May", 480],
                                                                ["Jun", 220],
                                                                ["Jul", 170],
                                                                ["Aug", 190]
                                                            ],
                                                            color: "#2baab1"
                                                        }];

                                                        // See: admin/assets/javascripts/dashboard/examples.dashboard.js for more settings.

                                                    </script>

                                                    <!-- Flot: Sales Porto Wordpress -->
                                                    <div class="chart chart-sm" data-sales-rel="Porto Wordpress" id="flotDashSales3" class="chart-hidden"></div>
                                                    <script>

                                                        var flotDashSales3Data = [{
                                                            data: [
                                                                ["Jan", 840],
                                                                ["Feb", 740],
                                                                ["Mar", 690],
                                                                ["Apr", 940],
                                                                ["May", 1180],
                                                                ["Jun", 820],
                                                                ["Jul", 570],
                                                                ["Aug", 780]
                                                            ],
                                                            color: "#734ba9"
                                                        }];

                                                        // See: admin/assets/javascripts/dashboard/examples.dashboard.js for more settings.

                                                    </script>
                                                </div>
                                            </div>


                                            <section class="panel panel-transparent">
                                                <div class="panel-body">
                                                    <section class="panel">
                                                        <div class="panel-body">
                                                            <div class="small-chart pull-right" id="sparklineBarDash"></div>
                                                            <script type="text/javascript">
                                                                var sparklineBarDashData = [5, 6, 7, 2, 0, 4 , 2, 4, 2, 0, 4 , 2, 4, 2, 0, 4];
                                                            </script>
                                                            <div class="h4 text-weight-bold mb-none">100</div>
                                                            <p class="text-xs text-muted mb-none">Average Working Users </p>
                                                        </div>
                                                    </section>
                                                    <section class="panel">
                                                        <div class="panel-body">
                                                            <div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right hide">
                                                                <div class="circular-bar-chart" data-percent="45" data-plugin-options='{ "barColor": "#2baab1", "delay": 300, "size": 50, "lineWidth": 4 }'>
                                                                    <strong>Average</strong>
                                                                    <label><span class="percent">45</span>%</label>
                                                                </div>
                                                            </div>
                                                            <div class="h4 text-weight-bold mb-none">122</div>
                                                            <p class="text-xs text-muted mb-none">Working online Users</p>
                                                        </div>
                                                    </section>
                                                </div>
                                            </section>



                                        </div>
                                        <div class="col-lg-4 text-center hide">
                                            <h2 class="panel-title mt-md">Monthly Usage</h2>
                                            <div class="liquid-meter-wrapper liquid-meter-sm mt-lg">
                                                <div class="liquid-meter">
                                                    <meter min="0" max="100" value="35" id="meterSales"></meter>
                                                </div>
                                                <div class="liquid-meter-selector" id="meterSalesSel">
                                                    <a href="#" data-val="35" class="active">Monthly Plan : Silver Pro</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-lg-12 col-xl-6">
                            <div class="row">
                                <div class="col-md-12 col-lg-6 col-xl-6">
                                    <section class="panel panel-featured-left panel-featured-tertiary">
                                        <div class="panel-body">
                                            <div class="widget-summary">
                                                <div class="widget-summary-col widget-summary-col-icon">
                                                    <div class="summary-icon bg-tertiary">
                                                        <i class="fa fa-users"></i>
                                                    </div>
                                                </div>
                                                <div class="widget-summary-col">
                                                    <div class="summary">
                                                        <h4 class="title">Total Subscriber</h4>
                                                        <div class="info">
                                                            <strong class="amount">
                                                                <%= 
                                                                    @newsubscrb = User.where(status: 'new')
                                                                    @newsubscrb.count
                                                                %>
                                                            </strong>
                                                        </div>
                                                    </div>
                                                    <div class="summary-footer">
                                                        <a href="<%= request.base_url %>/admin/subscriber" class="text-muted text-uppercase">(View All)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-md-12 col-lg-6 col-xl-6 hide">
                                    <section class="panel panel-featured-left panel-featured-quartenary">
                                        <div class="panel-body">
                                            <div class="widget-summary">
                                                <div class="widget-summary-col widget-summary-col-icon">
                                                    <div class="summary-icon bg-quartenary">
                                                        <i class="fa fa-cubes"></i>
                                                    </div>
                                                </div>
                                                <div class="widget-summary-col">
                                                    <div class="summary">
                                                        <h4 class="title">Packages</h4>
                                                        <div class="info">
                                                            <strong class="amount">
                                                            <%= 
                                                                @totpackage = Package.all
                                                                @totpackage.count
                                                            %>
                                                            </strong>
                                                        </div>
                                                    </div>
                                                    <div class="summary-footer">
                                                        <a href="<%= request.base_url %>/admin/packages" class="text-muted text-uppercase">(View All)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-md-12 col-lg-6 col-xl-6">
                                    <section class="panel panel-featured-left panel-featured-primary">
                                        <div class="panel-body">
                                            <div class="widget-summary">
                                                <div class="widget-summary-col widget-summary-col-icon">
                                                    <div class="summary-icon bg-primary">
                                                        <i class="fa fa-phone"></i>
                                                    </div>
                                                </div>
                                                <div class="widget-summary-col">
                                                    <div class="summary">
                                                        <h4 class="title">Inquiry/Feedback</h4>
                                                        <div class="info">
                                                            <strong class="amount">
                                                            <%= 
                                                                @totinquiry = Inquiry.all
                                                                @totinquiry.count
                                                            %>
                                                        </strong>
                                                        </div>
                                                    </div>
                                                    <div class="summary-footer">
                                                        <a href="<%= request.base_url %>/admin/inquiry" class="text-muted text-uppercase">(view all)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-md-12 col-lg-6 col-xl-6 hide">
                                    <section class="panel panel-featured-left panel-featured-secondary">
                                        <div class="panel-body">
                                            <div class="widget-summary">
                                                <div class="widget-summary-col widget-summary-col-icon">
                                                    <div class="summary-icon bg-secondary">
                                                        <i class="fa fa-usd"></i>
                                                    </div>
                                                </div>
                                                <div class="widget-summary-col">
                                                    <div class="summary">
                                                        <h4 class="title">Total Profit</h4>
                                                        <div class="info">
                                                            <strong class="amount">$ 14,890.30</strong>
                                                        </div>
                                                    </div>
                                                    <div class="summary-footer">
                                                        <a class="text-muted text-uppercase">(withdraw)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row hide">
                        
                        <div class="col-xl-3 col-lg-6">
                                                        
                        </div>
                        <div class="col-xl-6 col-lg-12">
                            <section class="panel">
                                <header class="panel-heading panel-heading-transparent">
                                    <h2 class="panel-title">Login Activity</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="timeline timeline-simple mt-xlg mb-md">
                                        <div class="tm-body">                                           
                                            <ol class="tm-items">
                                                <li>
                                                    <div class="tm-box">
                                                        <p class="text-muted mb-none">12 december 2016 3:12 AM</p>
                                                        <p>You are worked with JSticks cloud for 6 hours 3:12 am to 9:00 am from chrome version 16.333.25.99</span>
                                                        </p>
                                                        <span><i class="fa fa-user"></i> By <a href="#">John Doe</a></span>
                                                        <span><i class="fa fa-play"></i> Usage <a href="#">6 hour</a></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="tm-box">
                                                        <p class="text-muted mb-none">9 december 2016 3:12 AM</p>
                                                        <p>You are worked with JSticks cloud for 6 hours 3:12 am to 6:00 am from chrome version 16.333.25.99</span>
                                                        </p>
                                                        <span><i class="fa fa-user"></i> By <a href="#">John Doe</a></span>
                                                        <span><i class="fa fa-play"></i> Usage <a href="#">3 hour</a></span>

                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="tm-box">
                                                        <p class="text-muted mb-none">4 december 2016 3:12 AM</p>
                                                        <p>You are worked with JSticks cloud for 6 hours 3:12 am to 7:00 am from chrome version 16.333.25.99</span>
                                                        </p>
                                                        <span><i class="fa fa-user"></i> By <a href="#">John Doe</a></span>
                                                        <span><i class="fa fa-play"></i> Usage <a href="#">5 hour</a></span>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    
                    <!-- end: page -->
                </section>
            </div>

            
        </section>

        <!-- Vendor -->
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery/jquery.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/nanoscroller/nanoscroller.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/magnific-popup/magnific-popup.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
        
        <!-- Specific Page Vendor -->
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-appear/jquery.appear.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.pie.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.categories.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.resize.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/raphael/raphael.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/morris/morris.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/gauge/gauge.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/snap-svg/snap.svg.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/liquid-meter/liquid.meter.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/jquery.vmap.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
        
        <!-- Theme Base, Components and Settings -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/theme.js"></script>
        
        <!-- Theme Custom -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/theme.custom.js"></script>
        
        <!-- Theme Initialization Files -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/theme.init.js"></script>


        <!-- Examples -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/dashboard/examples.dashboard.js"></script>
    </body>
</html>