<!doctype html>
<html class="fixed">
    <head>

        <!-- Basic -->
        <meta charset="UTF-8">

        <title>Product <%= @fromaction %> | JSticks Path To the Cloude</title>
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Web Fonts  -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
        <script src="<%= request.base_url %>/admin/assets/javascripts/jquery-3.1.0.min.js"></script>
        <!-- Vendor CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/magnific-popup/magnific-popup.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

        <!-- Specific Page Vendor CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/morris/morris.css" />
        <!-- Theme CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/stylesheets/theme.css" />

        <!-- Skin CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/stylesheets/skins/default.css"/>

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/stylesheets/theme-custom.css">

        <!-- Head Libs -->
        <script src="<%= request.base_url %>/admin/assets/vendor/modernizr/modernizr.js"></script>


        <script>
            $(document).ready(function () {
                $('#cat_id').on('change', function() {
                    category_id = this.value;
                    $.ajax({
                        type : "post",
                        url : "/get_sub_categories",
                        data : {
                            category_id : category_id
                        },
                        cache : false,
                        success : function(res) {
                            response = $.parseJSON(res);
                            $('#sub_cat_id').empty();

                            $('#sub_cat_id').append('<option value="">Select Sub Category</option>');

                            $.each(response, function(i, subCategory) {
                                $('#sub_cat_id').append($('<option>', {
                                    value: subCategory.id,
                                    text : subCategory.title
                                }));
                            });
                        },
                        error : function(e) {

                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <section class="body">

            <!-- start: header -->
            <%= render 'header' %>
            <!-- end: header -->

            <div class="inner-wrapper">
                <!-- start: sidebar -->
                <%= render 'leftmenu' %>
                <!-- end: sidebar -->

                <section role="main" class="content-body">
                   <header class="page-header">
                        <h2><%= @fromaction %> Product</h2>
                        <div class="right-wrapper pull-right">
                            <ol class="breadcrumbs">
                                <li>
                                    <a href="<%= request.base_url %>/admin/">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="<%= request.base_url %>/admin/software_n_games">
                                        <i class="fa fa fa-floppy-o"></i>
                                    </a>
                                </li>
                                <li><span><%= @fromaction %>Product</span></li>
                            </ol>

                            <a class="sidebar-right-toggle"></a>
                        </div>
                    </header>
                    <!-- start: page -->
                    <section class="panel">

                           <div class="<%= @msgls %>"><%= @msg %></div>

                           <header class="panel-heading">
                                <h2 class="panel-title"><%= @fromaction %> Product</h2>
                            </header>

                            <form class="form-horizontal form-bordered" method="post" action="<%= request.base_url %>/admin/software_n_games" enctype="multipart/form-data">
                            <div class="panel-body">

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="inputHelpText">Category</label>
                                                <div class="col-md-6">
                                        <% @cats = Softwarecategory.all.where(parent:'0').order(title: :asc) %>
                                                     <select class="form-control mb-md" name="cat_id" id="cat_id">
                                                        <option value="">Select Category</option>
                                                        <% @cats.each do |cat| %>

                                                        <%
                                                        if @ss.cat_id.to_i == cat.id
                                                            parentsect = 'selected="selected"'
                                                        else
                                                            parentsect = 'else'
                                                        end

                                                        #parentsect = thisparent
                                                        #parentsect = thiscatid

                                                        %>

                                                        <option value="<%= cat.id %>" <%= parentsect %>><%= cat.title %></option>
                                                      <% end %>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="inputHelpText">Sub Category</label>
                                                <div class="col-md-6">
                                                    <% @cats = Softwarecategory.all.where.not(parent:'0').where(parent: @ss.cat_id.to_i).order(title: :asc) %>
                                                     <select class="form-control mb-md" name="sub_cat_id" id="sub_cat_id">
                                                        <option value="">Select Sub Category</option>
                                                        <% @cats.each do |cat| %>

                                                        <%
                                                        if @ss.sub_cat_id.to_i == cat.id
                                                            parentsect = 'selected="selected"'
                                                        else
                                                            parentsect = 'else'
                                                        end

                                                        #parentsect = thisparent
                                                        #parentsect = thiscatid

                                                        %>

                                                        <option value="<%= cat.id %>" <%= parentsect %>><%= cat.title %></option>
                                                      <% end %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="inputHelpText">Title</label>
                                                <div class="col-md-6">
                                                    <input type="text" placeholder="Title" class="form-control" id="title" name="title" value="<%= @ss.title %>" >
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="inputHelpText">Description</label>
                                                <div class="col-md-6">
                                                    <textarea name="description" rows="5" class="form-control" placeholder="Product Description" id="description" required="" ><%= @ss.description %></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Image</label>
                                                <div class="col-md-6">
                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <div class="input-append">
                                                            <div class="uneditable-input">
                                                                <i class="fa fa-file fileupload-exists"></i>
                                                                <span class="fileupload-preview"></span>
                                                            </div>
                                                            <span class="btn btn-default btn-file">
                                                                <span class="fileupload-exists">Change</span>
                                                                <span class="fileupload-new">Select file</span>
                                                                <input type="file" name="image_file" accept="image/png,image/jpeg"/>
                                                            </span>
                                                            <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group" id="isnew_div">
                                                <% if @ss.isnew == 'active'
                                                        @activechd = 'checked'
                                                   end  %>
                                                <% if @ss.isnew == 'inactive'
                                                        @inactivechd = 'checked'
                                                   end  %>
                                                <label class="col-sm-3 control-label">Is New ?</label>
                                                <div class="col-md-6">
                                                    <div class="radio-custom radio-success">
                                                       <input type="radio" id="isnew" name="isnew" value="active" <%= @activechd %>>
                                                       <label for="radioExample3" >Yes</label>
                                                    </div>
                                                    <div class="radio-custom radio-danger">
                                                        <input type="radio" id="radioExample5" name="isnew" value="inactive" <%= @inactivechd %>>
                                                        <label for="radioExample5">No</label>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="form-group"  id="istop_div">
                                                <% if @ss.istop == 'active'
                                                        @activechd = 'checked'
                                                   end  %>
                                                <% if @ss.istop == 'inactive'
                                                        @inactivechd = 'checked'
                                                   end  %>
                                                <label class="col-sm-3 control-label">Is top ?</label>
                                                <div class="col-md-6">
                                                    <div class="radio-custom radio-success">
                                                       <input type="radio" id="istop" name="istop" value="active" <%= @activechd %>>
                                                       <label for="radioExample3" >Yes</label>
                                                    </div>
                                                    <div class="radio-custom radio-danger">
                                                        <input type="radio" id="radioExample5" name="istop" value="inactive" <%= @inactivechd %>>
                                                        <label for="radioExample5">No</label>
                                                    </div>
                                                </div>
                                            </div>







                                            <div class="form-group"  id="slider_div">
                                                <% if @ss.slider == 'active'
                                                        @activechd = 'checked'
                                                   end  %>
                                                <% if @ss.slider == 'inactive'
                                                        @inactivechd = 'checked'
                                                   end  %>
                                                <label class="col-sm-3 control-label">In slider ?</label>
                                                <div class="col-md-6">
                                                    <div class="radio-custom radio-success">
                                                       <input type="radio" id="slider" name="slider" value="active" <%= @activechd %>>
                                                       <label for="radioExample3" >Yes</label>
                                                    </div>
                                                    <div class="radio-custom radio-danger">
                                                        <input type="radio" id="radioExample5" name="slider" value="inactive" <%= @inactivechd %>>
                                                        <label for="radioExample5">No</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <%
                                                begin
                                                    hourly_price = @ss.price_hourly.split(',')
                                                    monthly_price = @ss.price_monthly.split(',')
                                                    yearly_price = @ss.price_yearly.split(',')
                                                rescue

                                                end
                                            %>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="inputHelpText">Package 1</label>
                                                <div class="col-md-2">
                                                    <input type="text" placeholder="Title" class="form-control" id="package_1_title" name="package_1_title" min="0" value="<%= hourly_price[0].squish if hourly_price.present?%>"/>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="number" placeholder="Hours" class="form-control" id="package_1_hours" name="package_1_hours" min="0" value="<%= hourly_price[1].squish if hourly_price.present?%>"/>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="number" placeholder="Unit Price" class="form-control" id="package_1_unit_price" min="0" name="package_1_unit_price" value="<%= hourly_price[2].squish if hourly_price.present?%>" step=".01"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="inputHelpText">Package 2</label>
                                                <div class="col-md-2">
                                                    <input type="text" placeholder="Title" class="form-control" id="package_2_title" min="0" name="package_2_title" value="<%= monthly_price[0].squish if monthly_price.present?%>"/>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="number" placeholder="Hours" class="form-control" id="package_2_hours" min="0" name="package_2_hours" value="<%= monthly_price[1].squish if monthly_price.present?%>"/>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="number" placeholder="Unit Price" class="form-control" id="package_2_unit_price" min="0" name="package_2_unit_price" value="<%= monthly_price[2].squish if monthly_price.present?%>" step=".02"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="inputHelpText">Package 3</label>
                                                <div class="col-md-2">
                                                    <input type="text" placeholder="Title" class="form-control" id="package_3_title" min="0" name="package_3_title" value="<%= yearly_price[0].squish if yearly_price.present?%>"/>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="number" placeholder="Hours" class="form-control" id="package_3_hours" min="0" name="package_3_hours" value="<%= yearly_price[1].squish if yearly_price.present?%>"/>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="number" placeholder="Unit Price" class="form-control" id="package_3_unit_price" min="0" name="package_3_unit_price" value="<%= yearly_price[2].squish if yearly_price.present?%>" step=".01"/>
                                                </div>
                                            </div>


                                            <div class="form-group" id="status_div">

                                                <% if @ss.status == 'active'
                                                        @activechd = 'checked'
                                                   end  %>
                                                <% if @ss.status == 'inactive'
                                                        @inactivechd = 'checked'
                                                   end  %>

                                                <label class="col-sm-3 control-label">Status</label>
                                                <div class="col-md-6">
                                                    <div class="radio-custom radio-success">
                                                       <input type="radio" id="status" name="status" value="active" <%= @activechd %>>
                                                       <label for="radioExample3" >Active</label>
                                                    </div>
                                                    <div class="radio-custom radio-danger">
                                                        <input type="radio" id="radioExample5" name="status" value="inactive" <%= @inactivechd %>>
                                                        <label for="radioExample5">Inactive</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <footer class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-9 col-sm-offset-3">
                                                    <button class="btn btn-primary" type="submit" name="submit" id="submit">Submit</button>
                                                    <button type="reset" class="btn btn-default">Reset</button>
                                                    <input type="hidden" name="fromaction" value="<%= @fromaction %>">
                                                    <input type="hidden" name="id" value="<%= @ss.id %>">
                                                </div>
                                            </div>
                                        </footer>
                                    </form>
                        </section>

                    <!-- end: page -->
                </section>
            </div>


        </section>

        <!-- Vendor -->
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery/jquery.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/nanoscroller/nanoscroller.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/magnific-popup/magnific-popup.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
        
        <!-- Specific Page Vendor -->
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-appear/jquery.appear.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.pie.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.categories.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.resize.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/raphael/raphael.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/morris/morris.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/gauge/gauge.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/snap-svg/snap.svg.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/liquid-meter/liquid.meter.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/jquery.vmap.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
        
        <!-- Theme Base, Components and Settings -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/theme.js"></script>
        
        <!-- Theme Custom -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/theme.custom.js"></script>
        
        <!-- Theme Initialization Files -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/theme.init.js"></script>


        <!-- Examples -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/dashboard/examples.dashboard.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#submit').on( "click", function(){
                    if(validatioinput("cat_id") == false) { return false; }
                    if(validatioinput("sub_cat_id") == false) { return false; }
                    if(validatioradio("isnew") == false) { return false; }
                    if(validatioradio("istop") == false) { return false; }
                    if(validatioradio("slider") == false) { return false; }
                    if(validatioinput("price_hourly") == false) { return false; }
                    if(validatioinput("price_monthly") == false) { return false; }
                    if(validatioinput("price_yearly") == false) { return false; }
                    if(validatioradio("status") == false) { return false; }
                    //alert("submiting..!!");
                    //return false;
                });
            });
        </script>

    </body>
</html>
