<!doctype html>
<html class="fixed">
    <head>

        <!-- Basic -->
        <meta charset="UTF-8">

        <title>Subscriber <%= @fromaction %> | JSticks Path To the Cloude</title>
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Web Fonts  -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/magnific-popup/magnific-popup.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

        <!-- Specific Page Vendor CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/vendor/morris/morris.css" />
        <!-- Theme CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/stylesheets/theme.css" />

        <!-- Skin CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/stylesheets/skins/default.css"/>

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="<%= request.base_url %>/admin/assets/stylesheets/theme-custom.css">

        <!-- Head Libs -->
        <script src="<%= request.base_url %>/admin/assets/vendor/modernizr/modernizr.js"></script>
    </head>
    <body>
        <section class="body">

            <!-- start: header -->
            <%= render 'header' %>
            <!-- end: header -->

            <div class="inner-wrapper">
                <!-- start: sidebar -->
                <%= render 'leftmenu' %>
                <!-- end: sidebar -->

                <section role="main" class="content-body">
                   <header class="page-header">
                        <h2><%= @fromaction %> Subscriber</h2>
                    
                        <div class="right-wrapper pull-right">
                            <ol class="breadcrumbs">
                                <li>
                                    <a href="<%= request.base_url %>/admin/">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="<%= request.base_url %>/admin/subscriber">
                                        <i class="fa fa-users"></i>
                                    </a>
                                </li>
                                <li><span><%= @fromaction %> Subscriber</span></li>
                            </ol>
                    
                            <a class="sidebar-right-toggle"></a>
                        </div>
                    </header>
                    <!-- start: page -->
                    <section class="panel">

                           <div class="<%= @msgls %>"><%= @msg %></div>

                           <header class="panel-heading">
                                <h2 class="panel-title"><%= @fromaction %> Subscriber</h2>
                            </header>
                            
                            <form class="form-horizontal form-bordered" method="post" action="<%= request.base_url %>/admin/subscriber">
                            <div class="panel-body">
                               
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="inputHelpText">First Name</label>
                                                <div class="col-md-6">
                                                    <input type="text" placeholder="First Name" class="form-control" id="first_name" name="first_name" value="<%= @ss.first_name %>" >
                                                </div>
                                            </div>
                        
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="inputHelpText">Last Name</label>
                                                <div class="col-md-6">
                                                    <input type="text" placeholder="LAst Name" class="form-control" id="last_name" name="last_name" value="<%= @ss.last_name %>" >
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="inputHelpText">Email</label>
                                                <div class="col-md-6">
                                                    <input type="text" placeholder="Email" class="form-control" id="email" name="email" value="<%= @ss.email %>" >
                                                </div>
                                            </div>

                                            
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="inputHelpText">Phone</label>
                                                <div class="col-md-6">
                                                    <input type="text" placeholder="Email" class="form-control" id="phone" name="phone" value="<%= @ss.phone %>" >
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <% if @ss.status == 'new'
                                                        @newchd = 'checked'
                                                   end  %>
                                                <% if @ss.status == 'active'
                                                        @activechd = 'checked'
                                                   end  %>
                                                <% if @ss.status == 'inactive'
                                                        @inactivechd = 'checked'
                                                   end  %>
                                                
                                                

                                                <label class="col-sm-3 control-label">Status</label>
                                                <div class="col-md-6">
                                                    <div class="radio-custom radio-success">
                                                       <input type="radio" id="status" name="status" value="new" <%= @newchd %>>
                                                       <label for="radioExample3" >New</label>
                                                    </div>
                                                    <div class="radio-custom radio-success">
                                                       <input type="radio" id="status" name="status" value="active" <%= @activechd %>>
                                                       <label for="radioExample3" >Active</label>
                                                    </div>
                                                    <div class="radio-custom radio-danger">
                                                        <input type="radio" id="radioExample5" name="status" value="inactive" <%= @inactivechd %>>
                                                        <label for="radioExample5">Inactive</label>
                                                    </div>
                                                </div>
                                            </div>                                        
                                        </div>
                                        <footer class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-9 col-sm-offset-3">
                                                    <button class="btn btn-primary" type="submit" name="submit" id="submit">Submit</button>
                                                    <button type="reset" class="btn btn-default">Reset</button>
                                                    <input type="hidden" name="fromaction" value="<%= @fromaction %>">
                                                    <input type="hidden" name="id" value="<%= @ss.id %>">
                                                </div>
                                            </div>
                                        </footer>
                                    </form>
                        </section>
                    
                    <!-- end: page -->
                </section>
            </div>

            
        </section>

        <!-- Vendor -->
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery/jquery.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/nanoscroller/nanoscroller.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/magnific-popup/magnific-popup.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
        
        <!-- Specific Page Vendor -->
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-appear/jquery.appear.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.pie.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.categories.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/flot/jquery.flot.resize.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/raphael/raphael.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/morris/morris.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/gauge/gauge.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/snap-svg/snap.svg.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/liquid-meter/liquid.meter.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/jquery.vmap.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
        <script src="<%= request.base_url %>/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
        
        <!-- Theme Base, Components and Settings -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/theme.js"></script>
        
        <!-- Theme Custom -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/theme.custom.js"></script>
        
        <!-- Theme Initialization Files -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/theme.init.js"></script>


        <!-- Examples -->
        <script src="<%= request.base_url %>/admin/assets/javascripts/dashboard/examples.dashboard.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#submit').on( "click", function(){
                    if(validatioinput("first_name") == false) { return false; } 
                    if(validatioinput("last_name") == false) { return false; } 
                    if(validatioinput("email") == false) { return false; } 
                    if(validatioinput("phone") == false) { return false; }
                    //if(validatioradio("premium") == false) { return false; }                     
                    if(validatioradio("status") == false) { return false; }                     
                    //alert("submiting..!!");
                    //return false;        
                });
            });
        </script>

    </body>
</html>