<footer class="romana_footer_area">
        <div class="romana_footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-3">
                        <div class="footer_left_text footer_menu footer_border_right">
                            <div class="footer_logo">
                                <a href="#"><img src="<%= request.base_url %>/assets/<%= @ss.logo %>" alt="logo" width="150"></a>
                                <!--<a href="#"><img src="assets/logo.png" alt="logo" width="150"></a>-->
                            </div>
                            <p><%= @ss.footer_text %></p>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-3">
                        <div class="footer_menu footer_border_right footer_padding_left">
                            <ul>
                                <li><a href="<%= request.base_url %>/" target="_self">Home</a></li>
                                <li><a href="<%= request.base_url %>/service" target="_self">Features</a></li>
                                <li><a href="<%= request.base_url %>/how_work" target="_self">How it Works</a></li>
                                <li><a href="<%= request.base_url %>/#" target="_self">About</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-3">
                        <div class="footer_menu footer_border_right footer_padding_left">
                            <ul>
                                <!-- <li><a href="#">Blog</a></li> -->
                                <li><a href="<%= request.base_url %>/faq" target="_self">FAQs</a></li>
                                <li><a href="<%= request.base_url %>/release_notes" target="_self">Release Notes</a></li>
                                <li><a href="<%= request.base_url %>/hiring" target="_self">We're Hiring</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-md-2 col-sm-3">
                        <div class="footer_menu footer_padding_left">
                            <ul>
                                <li><a href="<%= request.base_url %>/product_support" target="_self">Product Support</a></li>
                                <li><a href="<%= request.base_url %>/contact" target="_self">Contact us</a></li>
                                <li><a href="<%= request.base_url %>/knowledge_base" target="_self">Knowladge Base</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
            </div>
        </div>
        <!-- footer_top End -->
        <div class="romana_footer_bottom">
            <div class="container">
                <div class="romana_footer_bottom_content text-center">
                    <div class="row">
                       <div class="col-md-12 col-sm-6">
                            <p class="text-center">
                            <%= @ss.footer_copyright %>
                            </p>
                        </div>
                        <!-- column End -->
                    </div>
                    <!-- row End -->
                </div>
                <!-- container End -->
            </div>
        </div>
        <!-- footer_bottom End -->
    </footer>
    <!-- =================
        USER AREA MODAL
        ==================== -->
                <div class="modal fade text-center" id="user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Existing User?</h4>
                      </div>
                      <div class="modal-body">
                        <form action="<%= request.base_url %>/login" method="POST">
                            
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control" placeholder="Your E-mail">
                            </div>

                            <div class="form-group">
                                <input type="password" id="password" name="password" class="form-control" placeholder="Your password">
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Accept Terms & Conditions.
                                </label>
                            </div>

                            <div class="create_account_btn">
                                <button type="submit" name="sign_in_btm" id="sign_in_btm" value="sign_in" class="block_btn hvr-bounce-to-right">Sign In</button>
                            </div> 

                            <hr>

                            <div class="new_user">
                                <h4 class="modal-title" >New User?</h4>

                                <div class="create_account_btn">
                                     <a target="_self" href="<%= request.base_url %>/registration" class="hvr-bounce-to-right">Explore Our Services</a>
                                </div> 
                            </div>

                            <table>
                        </form>

                      </div>
                     
                    </div>
                  </div>
                </div>