<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from crazycafe.net/demos/hosting/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:11:39 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->

    <title>Hosting-Home page</title>

    <!-- ================================================================
        ***Favicon***
    ================================================================= -->

    
    <link rel="shortcut icon" type="image/png" href="<%= request.base_url %>/images/fevicon.png">

    <!-- ================================================================
        ***CSS File***
    ================================================================= -->
    <!-- ================= *** Google Font-Poppins *** ======================= -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- ================= *** Animate CSS *** ======================= -->
    <link href="<%= request.base_url %>/css/animate.min.css" rel="stylesheet" type="text/css">

    <!-- ================= *** Bootstrap CSS *** ===================== -->
    <link href="<%= request.base_url %>/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css"> -->

    <!-- ================= *** Font-awesome CSS *** ================== -->
    <link href="<%= request.base_url %>/css/hover-min.css" rel="stylesheet" type="text/css">

    <!-- ================= *** icofont CSS *** ======================= -->
    <link href="<%= request.base_url %>/css/icofont.css" rel="stylesheet" type="text/css">

    <!-- ================= *** Owl Carousel CSS *** ================== -->
    <link href="<%= request.base_url %>/css/owl.carousel.css" rel="stylesheet" type="text/css">

    <link href="<%= request.base_url %>/css/home_owl.carousel.css" rel="stylesheet" type="text/css">

    <!-- ================= *** Main CSS *** ========================== -->

    <link href="<%= request.base_url %>/css/style.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="index2" class="home">
    <div id="preloader">
        <div class="preloader_spinner"></div>
    </div>
    <!-- preloader end -->

    
<!-- ==========================================================
    1.*Header_area start
============================================================ -->
    <%= render 'header' %>
    <!-- Header End -->

<!-- ==========================================================
2.*Hero_area start
============================================================ -->
    <div class="romana_allPage_area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="romana_allPage_text text-center">
                        <h1>registration form</h1>
                        <ol class="breadcrumb hvr-shutter-out-horizontal">
                            <li><a href="index-2.html">Home</a><span></span></li>
                            <li><a href="#">Sign up</a></li>
                        </ol>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
<!-- ==========================================================
3.*romana_awesome_service_area start
============================================================ -->
    <div class="romana_registration_form_area">
        <div class="container">
            <div class="row ">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
             

                    <div class="romana_registration_btn text-center">
                        <p class="hvr-bounce-to-right">registration</p>
                    </div>
                    <div class="romana_registration_form">
                        <form action="registration" method="POST">
                            <div class="row">
                                <p class="<%= @msgls %>"><%= @msg %></p>
                                <p>
                                   <%= session[:login_user_first_name] %><br>
                                   <%= session[:login_user_last_name] %><br>
                                   <%= session[:login_user_phone] %>
                                </p>
                                <div class="col-sm-6">
                                    <div class="field">
                                        <label class="placeholder" for="FistName">
                                            First name
                                            <span class="red">*</span>
                                        </label>
                                        <input id="first_name" type="text" name="first_name" name="FistName" />
                                    </div>
                                    <div class="field">
                                        <label class="placeholder" for="email1">
                                            Email Address
                                            <span class="red">*</span>
                                        </label>
                                        <input id="email1" type="text" name="email" />
                                    </div>
                                    <div class="field select_option_one">
                                        <select id="select1"  name="country">
                                            <option value="">Country</option>
                                            <option value="india">India</option>
                                            <option value="usa">USA</option>
                                            <option value="uk">UK</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="field">
                                        <label class="placeholder">
                                            Last name
                                            <span class="red">*</span>
                                        </label>
                                        <input id="LastName" type="text" name="last_name" />
                                    </div>
                                    <div class="field">
                                        <label class="placeholder">
                                            Mobile Number
                                            <span class="red">*</span>
                                        </label>
                                        <input id="Phone" type="text" name="phone" />
                                    </div>
                                    <div class="field select_option_two">
                                        <select id="select2"  name="district">
                                            <option value="">District</option>                                            
                                            <option value="Guj">Guj</option>
                                            <option value="Wagas">Wagas</option>
                                            <option value="London">London</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="field">
                                        <label class="placeholder" for="email2">
                                            Email Address
                                            <span class="red">*</span>
                                        </label>
                                        <input id="email2" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="field">
                                        <label class="placeholder" for="password1">
                                            Choose password
                                            <span class="red">*</span>
                                        </label>
                                        <input id="password1" type="password" name="password" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="field">
                                        <label class="placeholder" for="password2">
                                            Confirm password
                                            <span class="red">*</span>
                                        </label>
                                        <input id="password2" type="password" />
                                    </div>
                                </div>
                            </div>
                        <div class="create_account_btn">
                            <button type="submit" name="submit" id="sign_up" value="sign_up" class="block_btn hvr-bounce-to-right">Creat an account</button>
                            
                            <input class="hide" name="authenticity_token" type="hidden" value="x37DrAAwyIIb7s+w2+AdoCR8cAJIpQhIetKRrPgG5VA=">

                  

                        </div>
                        <div class="condition_check">
                            <div class="romana_single_check">
                                <input id="check" name="check" type="checkbox">
                                <label for="check"></label>

                            </div>
                            <p>Yes! I agree to all <a href="#"><span>Terms & Condition</span></a></p>
                        </div>
                       
                        </form>
                    </div>

                </div>
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
<!-- ==================================================
10.*Footer_area start
=================================================== -->
        <%= render 'footer' %>

      






    <!-- ======================================================
    ***Js Files***
=========================================================== -->

    <!-- ================= Main Js ==================== -->
    <script src="<%= request.base_url %>/assets/jquery-3.1.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- ================= Bootstrap min Js =========== -->
    <script src="<%= request.base_url %>/assets/bootstrap.min.js"></script>

    <!-- ================= owl carousel min Js ======== -->
    <script src="<%= request.base_url %>/assets/owl.carousel.min.js"></script>

    <!-- ================= Active Js ================== -->
    <script src="<%= request.base_url %>/assets/active.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#sign_up').on( "click", function(){

            if(validatioinput("first_name") == false) { return false; } 
            if(validatioinput("LastName") == false) { return false; } 
            if(validatioinput("email1") == false) { return false; } 
            if(validatiomo("Phone") == false) { return false; } 
            if(validatioinput("password1") == false) { return false; }
            if($('#password1').val() !=  $('#password2').val()){
                alert("Confirm password is not match with password !!");
                $('#password2').fpocus();
                return false;
            }
            alert("submiting..!!");
            //return false;        
        });
    });
    </script>

</body>


<!-- Mirrored from crazycafe.net/demos/hosting/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:12:17 GMT -->
</html>