    <header class="index4"> 
        <div class="romana_header_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-xs-6">
                        <div class="romana_logo">
                            <a href="/" target="_self"><img src="<%= request.base_url %>/assets/<%= @ss.logo %>" alt="" width="250" target="_self"></a>
                            <!--<a href="/"><img src="assets/logo.png" alt="" width="250"></a>-->
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-7">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only"></span>
                                <i class="icofont icofont-navigation-menu"></i>
                            </button>
                        </div>
                          <nav id="navbar" class="navbar-collapse collapse text-left">
                            <ul class="nav navbar-nav">
                                <li><a href="<%= request.base_url %>/jsolo" target="_self">JSolo</a></li>
                                <li><a href="<%= request.base_url %>/select_user_jshare" target="_self">JShare</a></li>
                                <li><a href="<%= request.base_url %>/jstore" target="_self">JStore</a></li>
                                <li><a href="<%= request.base_url %>/hardware_spec_jcreate" target="_self">JCreate</a></li>
                            </ul>
                            <!-- mega-menu End -->
                        </nav>
                        <!-- nav End -->
                    </div>
                    
                    <!-- column End -->
                    <div class="col-md-3">
                        <div class="romana_client_btn hidden-xs text-right">

                        <% if session[:login_user] == "yes"  %>
                            <span class="wl_user">Welcome <%= session[:login_user_first_name] %> <%= session[:login_user_last_name] %> !! </span><a href="logout" class="hvr-bounce-to-right" target="_self"><i class="icofont icofont-user-alt-3"></i>Logout</a>

                        <% else %>
                            <a href="#" class="hvr-bounce-to-right" data-toggle="modal" data-target="#user_modal"><i class="icofont icofont-user-alt-3"></i>User Area</a>
                        <%  end %>


                                        <!--  <div class="romana_client_log_in">
                                            <form action="#" class="romana_client_log_in_after">
                                                <input type="text" name="clientEmail" placeholder="Email here">
                                                <input type="text" name="clientPass" placeholder="password">
                                                <input type="submit" value="Login">
                                                <p> or <a href="registration.html">registration</a></p>
                                            </form>
                                        </div> -->
                        </div>
                    </div>
                </div>
                <!-- row End -->


                <div class="row">
                    <div class="col-md-12">
                        <nav id="navbar1" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="<%= request.base_url %>/service" target="_self">FEATURES</a></li>
                                <li><a href="<%= request.base_url %>/price" target="_self">PRICING</a></li>
                                <li><a href="<%= request.base_url %>/how_work" target="_self">HOW IT WORKS</a></li>
                                 <li><a href="<%= request.base_url %>/contact" target="_self">Contact</a></li>
                            </ul>
                            <!-- mega-menu End -->
                        </nav>
                    </div>
                </div>
            </div>
            <!-- container End -->
        </div>
        <!-- Header Bottom End -->
    </header>
