<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Cloud-all soft jstore</title>

    <!-- ================================================================
        ***Favicon***
    ================================================================= -->

    <link rel="shortcut icon" type="image/png" href="<%= request.base_url %>/images/fevicon.png">

    <!-- ================================================================
        ***CSS File***
    ================================================================= -->
    <!-- ================= *** Google Font-Poppins *** ======================= -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- ================= *** Animate CSS *** ======================= -->
    <%= stylesheet_link_tag    'animate.min', media: 'all', 'data-turbolinks-track' => true %>

    <!--<link href="<%= request.base_url %>/css/animate.min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Bootstrap CSS *** ===================== -->
    <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css"> -->

    <!-- ================= *** Font-awesome CSS *** ================== -->
    <%= stylesheet_link_tag    'hover-min', media: 'all', 'data-turbolinks-track' => true %>
   <!-- <link href="<%= request.base_url %>/css/hover-min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** icofont CSS *** ======================= -->
     <%= stylesheet_link_tag    'icofont', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/icofont.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Owl Carousel CSS *** ================== -->
     <%= stylesheet_link_tag    'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/owl.carousel.css" rel="stylesheet" type="text/css">-->

    <%= stylesheet_link_tag    'home_owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/home_owl.carousel.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Main CSS *** ========================== -->

    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="home">
    <div id="preloader">
        <div class="preloader_spinner"></div>
    </div>
    <!-- preloader end -->

    <!-- ==========================================================
    1.*Header_area start
    ============================================================ -->
    <%= render 'header' %>

    
<div class="romana_allPage_area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="romana_allPage_text text-center">
                            <h1>JStore SERVICES</h1>
                            <ol class="breadcrumb hvr-shutter-out-horizontal">
                                <li><a href="/">Home</a><span></span></li>
                                <li><a href="#">JStore </a></li>
                            </ol>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
            <!-- container End -->
        </div>

        <div class="all_tools">
            <div class="container">
                <div class="romana_section_title text-center">
                    <h2>Selected  Software</h2>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
                </div>

                <div class="software_tool">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-4">
                             <div class="sof_icon_type">
                                <div class="icon_img">
                                    <img src="assets/program.png" class="img-responsive" title="Adobe Illustrator">
                                </div>

                                <div class="product_dtl">
                                    <h5 class="pr_name">
                                        Adobe Illustrator
                                    </h5>

                                    <h6 class="cpy_name">
                                        Adobe System
                                    </h6>

                                    <p class="pr_description">
                                        Easily create pixel-perfect artwork UX...   
                                    </p>
                                </div>

                                <div class="pr_btm">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <ul  class="list-inline ratings">
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="take">
                                                <div class="checkbox">
                                                    <input type="checkbox" >
                                                    Select
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>          
                            </div>
                        </div>

                         <div class="col-md-2 col-sm-2 col-xs-4">
                             <div class="sof_icon_type ">
                                <div class="icon_img">
                                    <img src="assets/program-1.png" class="img-responsive" title="Adobe Illustrator">
                                </div>

                                <div class="product_dtl">
                                    <h5 class="pr_name">
                                        Adobe Illustrator
                                    </h5>

                                    <h6 class="cpy_name">
                                        Adobe System
                                    </h6>
                                    <p class="pr_description">
                                        Easily create pixel-perfect artwork UX...   
                                    </p>
                                </div>

                                <div class="pr_btm">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <ul  class="list-inline ratings">
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="take">
                                                <div class="checkbox">
                                                    <input type="checkbox" >
                                                    Select
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-2 col-sm-2 col-xs-4">
                             <div class="sof_icon_type">
                                <div class="icon_img">
                                    <img src="assets/program-2.png" class="img-responsive" title="Adobe Illustrator">
                                </div>

                                <div class="product_dtl">
                                    <h5 class="pr_name">
                                        Adobe Illustrator
                                    </h5>

                                    <h6 class="cpy_name">
                                        Adobe System
                                    </h6>

                                    <p class="pr_description">
                                        Easily create pixel-perfect artwork UX...   
                                    </p>
                                </div>

                                <div class="pr_btm">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <ul  class="list-inline ratings">
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="take">
                                                <div class="checkbox">
                                                    <input type="checkbox" >
                                                    Select
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-2 col-sm-2 col-xs-4">
                             <div class="sof_icon_type">
                                <div class="icon_img">
                                    <img src="assets/sound.png" class="img-responsive" title="Adobe Illustrator">
                                </div>

                                 <div class="product_dtl">
                                    <h5 class="pr_name">
                                        Adobe Illustrator
                                    </h5>

                                    <h6 class="cpy_name">
                                        Adobe System
                                    </h6>

                                    <p class="pr_description">
                                        Easily create pixel-perfect artwork UX...   
                                    </p>
                                </div>

                                <div class="pr_btm">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <ul  class="list-inline ratings">
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="take">
                                                <div class="checkbox">
                                                    <input type="checkbox" >
                                                    Select
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-2 col-sm-2 col-xs-4">
                             <div class="sof_icon_type">
                                <div class="icon_img">
                                    <img src="assets/video.png" class="img-responsive" title="Adobe Illustrator">
                                </div>

                                <div class="product_dtl">
                                    <h5 class="pr_name">
                                        Adobe Illustrator
                                    </h5>

                                    <h6 class="cpy_name">
                                        Adobe System
                                    </h6>

                                    <p class="pr_description">
                                        Easily create pixel-perfect artwork UX...   
                                    </p>
                                </div>

                                <div class="pr_btm">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <ul  class="list-inline ratings">
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="take">
                                                <div class="checkbox">
                                                    <input type="checkbox" >
                                                    Select
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-2 col-sm-2 col-xs-4">
                             <div class="sof_icon_type">
                                <div class="icon_img">
                                    <img src="assets/video-1.png" class="img-responsive" title="Adobe Illustrator">
                                </div>

                                 <div class="product_dtl">
                                    <h5 class="pr_name">
                                        Adobe Illustrator
                                    </h5>

                                    <h6 class="cpy_name">
                                        Adobe System
                                    </h6>

                                    <p class="pr_description">
                                        Easily create pixel-perfect artwork UX...   
                                    </p>
                                </div>

                                <div class="pr_btm">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <ul  class="list-inline ratings">
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="take">
                                                <div class="checkbox">
                                                    <input type="checkbox" >
                                                    Select
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-2 col-sm-2 col-xs-4">
                             <div class="sof_icon_type">
                                <div class="icon_img">
                                    <img src="assets/squares.png" class="img-responsive" title="Adobe Illustrator">
                                </div>

                                 <div class="product_dtl">
                                    <h5 class="pr_name">
                                        Adobe Illustrator
                                    </h5>

                                    <h6 class="cpy_name">
                                        Adobe System
                                    </h6>

                                    <p class="pr_description">
                                        Easily create pixel-perfect artwork UX...   
                                    </p>
                                </div>

                                <div class="pr_btm">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <ul  class="list-inline ratings">
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="take">
                                                <div class="checkbox">
                                                    <input type="checkbox" >
                                                    Select
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>


                         <div class="col-md-2 col-sm-2 col-xs-4">
                             <div class="sof_icon_type">
                                <div class="icon_img">
                                    <img src="assets/firefox-512.png" class="img-responsive" title="Adobe Illustrator">
                                </div>

                                <div class="product_dtl">
                                    <h5 class="pr_name">
                                        Adobe Illustrator
                                    </h5>

                                    <h6 class="cpy_name">
                                        Adobe System
                                    </h6>

                                    <p class="pr_description">
                                        Easily create pixel-perfect artwork UX...   
                                    </p>
                                </div>

                                <div class="pr_btm">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <ul  class="list-inline ratings">
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="take">
                                                <div class="checkbox">
                                                    <input type="checkbox" >
                                                    Select
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>


                         <div class="col-md-2 col-sm-2 col-xs-4">
                             <div class="sof_icon_type ">
                                <div class="icon_img">
                                    <img src="assets/sublime.jpg" class="img-responsive" title="Adobe Illustrator">
                                </div>

                                <div class="product_dtl">
                                    <h5 class="pr_name">
                                        Adobe Illustrator
                                    </h5>

                                    <h6 class="cpy_name">
                                        Adobe System
                                    </h6>

                                    <p class="pr_description">
                                        Easily create pixel-perfect artwork UX...   
                                    </p>
                                </div>

                                <div class="pr_btm">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <ul  class="list-inline ratings">
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="take">
                                                <div class="checkbox">
                                                    <input type="checkbox" >
                                                    Select
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-4">
                             <div class="sof_icon_type ">
                                <div class="icon_img">
                                    <img src="assets/msoffice.png" class="img-responsive" title="Adobe Illustrator">
                                </div>

                                                                <div class="product_dtl">
                                    <h5 class="pr_name">
                                        Adobe Illustrator
                                    </h5>

                                    <h6 class="cpy_name">
                                        Adobe System
                                    </h6>

                                    <p class="pr_description">
                                        Easily create pixel-perfect artwork UX...   
                                    </p>
                                </div>

                                <div class="pr_btm">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <ul  class="list-inline ratings">
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                                <li>
                                                    <i class="icofont icofont-star "></i>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="take">
                                                <div class="checkbox">
                                                    <input type="checkbox" >
                                                    Select
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div><!-- end software tool -->    

                <div class="nxt_btn text-center">
                    <a href="plan_jstore" >Next Step <i class="icofont icofont-curved-double-right "></i></a>
                </div>
            </div>
        </div><!-- end all tool -->



                <div class="romana_awesome_service_area romana_section_padding">
        <div class="container">

            <div class="romana_awesome_service_content">
                <div class="row ">
                    <div class="col-sm-8 col-xs-12">
                        <div class="romana_awesome_service_text text-center">
                            <h2>We give always awesome service.</h2>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-2 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                        <div class="romana_awesome_service_btn ">
                            <a href="#">start now</a>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
        </div>
        <!-- container End -->
    </div>
    <%= render 'footer' %>

<!-- ======================================================
    ***Js Files***
=========================================================== -->

    <!-- ================= Main Js ==================== -->
    <script src="assets/jquery-3.1.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- ================= Bootstrap min Js =========== -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- ================= owl carousel min Js ======== -->
    <script src="assets/owl.carousel.min.js"></script>

    <!-- ================= Active Js ================== -->
    <script src="assets/active.js"></script>

</body>


<!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
</html>