<!DOCTYPE html>
<html lang="en">

    <!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- Title -->
        <title>Billing Detail page</title>

        <!-- ================================================================
        ***Favicon***
    ================================================================= -->

        <link rel="shortcut icon" type="image/png" href="<%= request.base_url %>/images/fevicon.png">

    <!-- ================================================================
        ***CSS File***
    ================================================================= -->
    <!-- ================= *** Google Font-Poppins *** ======================= -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- ================= *** Animate CSS *** ======================= -->
    <%= stylesheet_link_tag    'animate.min', media: 'all', 'data-turbolinks-track' => true %>

    <!--<link href="<%= request.base_url %>/css/animate.min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Bootstrap CSS *** ===================== -->
    <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css"> -->

    <!-- ================= *** Font-awesome CSS *** ================== -->
    <%= stylesheet_link_tag    'hover-min', media: 'all', 'data-turbolinks-track' => true %>
   <!-- <link href="<%= request.base_url %>/css/hover-min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** icofont CSS *** ======================= -->
     <%= stylesheet_link_tag    'icofont', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/icofont.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Owl Carousel CSS *** ================== -->
     <%= stylesheet_link_tag    'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/owl.carousel.css" rel="stylesheet" type="text/css">-->

    <%= stylesheet_link_tag    'home_owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/home_owl.carousel.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Main CSS *** ========================== -->

    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
    </head>

    <body class="home" id="index2">
        <div id="preloader">
            <div class="preloader_spinner"></div>
        </div>
        <!-- preloader end -->

        <!-- ==========================================================
    1.*Header_area start
    ============================================================ -->
        <%= render 'header' %>
        <div class="romana_allPage_area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="romana_allPage_text text-center">
                            <h1>jshare Service</h1>
                            <ol class="breadcrumb hvr-shutter-out-horizontal">
                                <li>
                                    <a href="index-2.html">Jshare</a>
                                    <span></span>
                                </li>
                                <li>
                                    <a href="#">Users List</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
            <!-- container End -->
        </div>

        <div class="select_user">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="users_list own_billing">
                            <h4>Users List Which is Billing by You.</h4>
                            <div class="table-responsive scrollbox3 space10">
                                <table class="table text-center">
                                    <thead class="bg_blue">
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Select Software
                                        </th>
                                    </thead>

                                    <tbody>
                                        <%@jshare_group.jshare_users.each do |jshare_user|%>
                                        <%if jshare_user.billing.eql? 'billed'%>
                                        <tr>
                                            <td><%=jshare_user.first_name%></td>
                                            <td><%=jshare_user.last_name%></td>
                                            <td><%=jshare_user.email%></td>
                                            <td>
                                                <div class="sft_count" id="product-list-user-<%=jshare_user.id%>">
                                                    <%jshare_user.jshare_carts.each do |jshare_cart|%>
                                                    <p>
                                                        <i class='icofont icofont-close-squared-alt' data-id='<%=jshare_cart.id%>'></i>
                                                        <%=jshare_cart.software.title%></p>
                                                    <%end%>
                                                </div>
                                            </td>
                                        </tr>
                                        <%end%>
                                        <%end%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end user list -->

                        <div class="users_list self_billing space40">
                            <h4>Users List Which is Self Billing.</h4>
                            <div class="table-responsive space10">
                                <table class="table text-center">
                                    <thead class="bg_blue">
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Select Software
                                        </th>
                                    </thead>

                                    <tbody>
                                        <%@jshare_group.jshare_users.each do |jshare_user|%>
                                        <%if jshare_user.billing.eql? 'self'%>
                                        <tr>
                                            <td><%=jshare_user.first_name%></td>
                                            <td><%=jshare_user.last_name%></td>
                                            <td><%=jshare_user.email%></td>
                                            <td>
                                                <div class="sft_count" id="product-list-user-<%=jshare_user.id%>">
                                                    <%jshare_user.jshare_carts.each do |jshare_cart|%>
                                                    <p>
                                                        <i class='icofont icofont-close-squared-alt' data-id='<%=jshare_cart.id%>'></i>
                                                        <%=jshare_cart.software.title%></p>
                                                    <%end%>
                                                </div>
                                            </td>
                                        </tr>
                                        <%end%>
                                        <%end%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end user list -->
                    </div>

                    <div class="col-md-1"></div>
                </div>
                <!-- end row -->

                <div class="nxt_btn text-center">
                    <a href="cart_jshare?group_id=<%= @jshare_group.id if @jshare_group.present?%>" target="_self">Next Step
                        <i class="icofont icofont-curved-double-right "></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- end all_plan -->

        <div class="romana_awesome_service_area romana_section_padding space100">
            <div class="container">

                <div class="romana_awesome_service_content">
                    <div class="row ">
                        <div class="col-sm-8 col-xs-12">
                            <div class="romana_awesome_service_text text-center">
                                <h2>We give always awesome service.</h2>
                            </div>
                        </div>
                        <!-- column End -->
                        <div class="col-sm-2 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                            <div class="romana_awesome_service_btn ">
                                <a href="#">start now</a>
                            </div>
                        </div>
                        <!-- column End -->
                    </div>
                    <!-- row End -->
                </div>
            </div>
            <!-- container End -->
        </div>

        <!-- ==================================================
10.*Footer_area start
=================================================== -->

        <%= render 'footer' %>

        <!-- ======================================================
    ***Js Files***
=========================================================== -->

        <!-- ================= Main Js ==================== -->
    <script src="<%= request.base_url %>/assets/javascripts/jquery-3.1.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- ================= Bootstrap min Js =========== -->
    <script src="<%= request.base_url %>/assets/javascripts/bootstrap.min.js"></script>

    <!-- ================= owl carousel min Js ======== -->
    <script src="<%= request.base_url %>/assets/javascripts/owl.carousel.min1.js"></script>

    <!-- ================= Active Js ================== -->
    <script src="<%= request.base_url %>/assets/javascripts/active.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

                var owl = $("#owl-demo1");

                owl.owlCarousel({

                    itemsCustom: [
                        [
                            0, 1
                        ],
                        [
                            450, 1
                        ],
                        [
                            600, 1
                        ],
                        [
                            700, 3
                        ],
                        [
                            1000, 2
                        ],
                        [
                            1200, 2
                        ],
                        [1400, 2]
                    ],
                    navigation: true, // Show next and prev buttons
                    slideSpeed: 300,
                    paginationSpeed: 400,
                    autoPlay: true,

                    navigationText: ["<img src='<%= request.base_url %>/images/prev.png'>", "<img src='<%= request.base_url %>/images/Next.png'>"]
                });

                var owl = $("#owl-demo2");

                owl.owlCarousel({

                    itemsCustom: [
                        [
                            0, 1
                        ],
                        [
                            450, 2
                        ],
                        [
                            600, 2
                        ],
                        [
                            700, 3
                        ],
                        [
                            1000, 3
                        ],
                        [
                            1200, 5
                        ],
                        [1400, 5]
                    ],
                    navigation: true, // Show next and prev buttons
                    slideSpeed: 300,
                    paginationSpeed: 400,
                    autoPlay: false,

                    navigationText: ["<img src='<%= request.base_url %>/images/prev.png'>", "<img src='<%= request.base_url %>/images/Next.png'>"]
                });

                var owl = $("#owl-demo3");

                owl.owlCarousel({

                    itemsCustom: [
                        [
                            0, 1
                        ],
                        [
                            450, 2
                        ],
                        [
                            600, 3
                        ],
                        [
                            700, 2
                        ],
                        [
                            1000, 3
                        ],
                        [
                            1200, 5
                        ],
                        [1400, 5]
                    ],
                    navigation: true, // Show next and prev buttons
                    slideSpeed: 300,
                    paginationSpeed: 400,
                    autoPlay: false,

                    navigationText: ["<img src='<%= request.base_url %>/images/prev.png'>", "<img src='<%= request.base_url %>/imagees/Next.png'>"]
                });
            });
        </script>

        <script type="text/javascript">
            $(window).scroll(function () {

                var scroll = $(window).scrollTop();

                if (scroll > 50) {
                    $(".side_nav").addClass("fixed");
                } else {
                    $(".side_nav").removeClass("fixed");
                }

                if (scroll > 300) {
                    $(".side_nav").removeClass("fixed");
                }

            });
        </script>

        <script src="<%= request.base_url %>/assets/javascripts/enscroll-0.6.2.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.scrollbox3').enscroll({showOnHover: true, verticalTrackClass: 'track3', verticalHandleClass: 'handle3'});

                $(".sof_icon_type").hover(function () {

                    var ma = $(".mask");

                    if (ma.hasClass("hide")) {

                        $("this").removeClass("hide");
                    }

                    $("this").addClass("show");

                });

                $(function () {
                    var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
                    $('.nav li a').each(function () {
                        if (this.href === path) {
                            $(this).addClass('active');
                        }
                    });
                });

                $("[data-toggle=popover]").popover();
            });
        </script>
    </body>

    <!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
</html>
