<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Jstore page</title>

    <!-- ================================================================
        ***Favicon***
    ================================================================= -->

    <link rel="shortcut icon" type="image/png" href="<%= request.base_url %>/images/fevicon.png">

    <!-- ================================================================
        ***CSS File***
    ================================================================= -->
    <!-- ================= *** Google Font-Poppins *** ======================= -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- ================= *** Animate CSS *** ======================= -->
    <%= stylesheet_link_tag    'animate.min', media: 'all', 'data-turbolinks-track' => true %>

    <!--<link href="<%= request.base_url %>/css/animate.min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Bootstrap CSS *** ===================== -->
    <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css"> -->

    <!-- ================= *** Font-awesome CSS *** ================== -->
    <%= stylesheet_link_tag    'hover-min', media: 'all', 'data-turbolinks-track' => true %>
   <!-- <link href="<%= request.base_url %>/css/hover-min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** icofont CSS *** ======================= -->
     <%= stylesheet_link_tag    'icofont', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/icofont.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Owl Carousel CSS *** ================== -->
     <%= stylesheet_link_tag    'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/owl.carousel.css" rel="stylesheet" type="text/css">-->

    <%= stylesheet_link_tag    'home_owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/home_owl.carousel.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Main CSS *** ========================== -->

    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="home">
    <div id="preloader">
        <div class="preloader_spinner"></div>
    </div>
    <!-- preloader end -->

    <!-- ==========================================================
    1.*Header_area start
    ============================================================ -->
    <%= render 'header' %>

     <div class="bread">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a> >>
                        </li>

                        <li>
                            Cart
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

     <section id="cart" class="space50">
        <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-7 cartcontent">
                            <h4 class="panel_bar">CART <span class="number">(<%=@cart_items.size%>)</span></h4>

                            <%
                               total_price = 0.0
                            %>

                            <div class="all_cart_item scrollbox3">
                                <%@cart_items.each do |cart|%>
                                <%
                                    software = Software.find(cart.product_id)
                                    package = cart.package.split(',')
                                    product_price = package[1].squish.to_f * package[2].squish.to_f

                                    total_price += product_price
                                %>
                                <div class="item_row">
                                    <div class="cart_img">
                                        <img src="<%= request.base_url %>/assets/<%=software.image%>" alt="img">
                                    </div>

                                    <div class="cart_item_dtl">
                                        <h5 class="item_name"><%= software.title %></h5>

                                        <p class="item_srt_des">
                                            <%= software.description %>
                                        </p>

                                        <p class="item_price">
                                            $ <%= product_price %>
                                        </p>

                                        <ul class="act">
                                            <li>
                                                <a href="/remove_cart_item?id=<%=cart.id%>" target="_self">Remove</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div> <!-- end item row -->
                                <%end%>
                            </div>

                            <div class="total space20">
                                <div class="row">
                                    <div class="col-md-5">
                                        <h4 class="space5">
                                            Total Price <span class="ttl_item">(<%=@cart_items.size%> items)</span>: <span class="ttl_price">$ <%=total_price%></span>
                                        </h4>
                                    </div>

                                    <div class="col-md-7  text-right ">
                                        <ul class="list-unstyled list-inline">
                                            <li>
                                                <a href="#" class="check_btn">Place Order</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-5">
                            <div class="terms_bx">
                                <div class="panel_bar">
                                    <h4>TERMS AND CONDITIONS</h4>
                                </div>

                                <div class="sd_bx">
                                    <p>
                                        For Further Process Please accept our <a href="#">Terms and Conditions</a>
                                    </p>

                                    <ul class="list-inline list-unstyled slct_package">
                                        <li>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="this">
                                                   Accept
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- end terms condition -->

                            <div class="payment_mthd space20">
                                <div class="panel_bar">
                                    <h4>PAYMENY METHOD</h4>
                                </div>

                                <div class="sd_bx">
                                     <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Debit Card
                                            <img src="<%= request.base_url %>/assets/master-card.png" width="20">
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Credit Card
                                            <img src="<%= request.base_url %>/assets/credit-card.png" width="20">
                                            </a>
                                        </li>
                                    </ul>

                                      <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="fade in tab-pane active" id="home">
                                            <div class="card_bx  space20">
                                                <form>
                                                    <div class="form-group">
                                                        <p>Card Number</p>
                                                        <input type="text" name="" placeholder="">
                                                    </div>

                                                    <div class="form-group">
                                                        <p>Name on Card</p>
                                                        <input type="text" name="" placeholder="">
                                                    </div>

                                                    <div class="form-group lst_rw">
                                                        <div class="valid">
                                                            <p>Valid To</p>

                                                             <div class="dt_fld">
                                                                <input type="text" name="" placeholder="mm">

                                                                <input type="text" name="" placeholder="dd">

                                                                <input type="text" name="" placeholder="yyyy">
                                                             </div>
                                                        </div>

                                                        <div class="cvv">
                                                            <p>cvv</p>

                                                            <input type="text" name="" placeholder="123">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>


                                        <div role="tabpanel" class="fade tab-pane" id="profile">
                                            <div class="card_bx  space20">
                                                <form>
                                                    <div class="form-group">
                                                        <p>Card Number</p>
                                                        <input type="text" name="" placeholder="">
                                                    </div>

                                                    <div class="form-group">
                                                        <p>Name on Card</p>
                                                        <input type="text" name="" placeholder="">
                                                    </div>

                                                    <div class="form-group lst_rw">
                                                        <div class="valid">
                                                            <p>Valid To</p>

                                                             <div class="dt_fld">
                                                                <input type="text" name="" placeholder="mm">

                                                                <input type="text" name="" placeholder="dd">

                                                                <input type="text" name="" placeholder="yyyy">
                                                             </div>
                                                        </div>

                                                        <div class="cvv">
                                                            <p>cvv</p>

                                                            <input type="text" name="" placeholder="123">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="space20"></div>

                                          <a href="#" class="check_btn">Pay Amount</a>
                                      </div>
                                    </div>
                                </div>
                            </div><!-- end payment_mthd -->
                        </div>
                    </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end cart -->




    <div class="romana_awesome_service_area romana_section_padding">
        <div class="container">
            <div class="romana_awesome_service_content">
                <div class="row ">
                    <div class="col-sm-8 col-xs-12">
                        <div class="romana_awesome_service_text text-center">
                            <h2>We give always awesome service.</h2>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-2 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                        <div class="romana_awesome_service_btn ">
                            <a href="#">start now</a>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
        </div>
        <!-- container End -->
    </div>

    <%= render 'footer' %>

<!-- ======================================================
    ***Js Files***
=========================================================== -->

    <!-- ================= Main Js ==================== -->
    <script src="<%= request.base_url %>/assets/jquery-3.1.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- ================= Bootstrap min Js =========== -->
    <script src="<%= request.base_url %>/assets/bootstrap.min.js"></script>

    <!-- ================= owl carousel min Js ======== -->
    <script src="<%= request.base_url %>/assets/owl.carousel.min.js"></script>

    <!-- ================= Active Js ================== -->
    <script src="<%= request.base_url %>/assets/active.js"></script>


    <script type="text/javascript">
        $(document).ready(function(){
            $('.scrollbox3').enscroll({
                showOnHover: true,
                verticalTrackClass: 'track3',
                verticalHandleClass: 'handle3'
            });
        });
    </script>
</body>


<!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
</html>
