<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Hosting-Contact page</title>

    <!-- ================================================================
        ***Favicon***
    ================================================================= -->

    <link rel="shortcut icon" type="image/png" href="<%= request.base_url %>/images/fevicon.png">

    <!-- ================================================================
        ***CSS File***
    ================================================================= -->
    <!-- ================= *** Google Font-Poppins *** ======================= -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- ================= *** Animate CSS *** ======================= -->
    <%= stylesheet_link_tag    'animate.min', media: 'all', 'data-turbolinks-track' => true %>

    <!--<link href="<%= request.base_url %>/css/animate.min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Bootstrap CSS *** ===================== -->
    <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css"> -->

    <!-- ================= *** Font-awesome CSS *** ================== -->
    <%= stylesheet_link_tag    'hover-min', media: 'all', 'data-turbolinks-track' => true %>
   <!-- <link href="<%= request.base_url %>/css/hover-min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** icofont CSS *** ======================= -->
     <%= stylesheet_link_tag    'icofont', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/icofont.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Owl Carousel CSS *** ================== -->
     <%= stylesheet_link_tag    'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/owl.carousel.css" rel="stylesheet" type="text/css">-->

    <%= stylesheet_link_tag    'home_owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/home_owl.carousel.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Main CSS *** ========================== -->

    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="home"  id="index2">
    <div id="preloader">
        <div class="preloader_spinner"></div>
    </div>
    <!-- preloader end -->

    <!-- ==========================================================
    1.*Header_area start
    ============================================================ -->
    <%= render 'header' %>

    
<!-- ==========================================================
2.*Hero_area start
============================================================ -->
    <div class="romana_allPage_area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="romana_allPage_text text-center">
                        <h1>contact us</h1>
                        <ol class="breadcrumb hvr-shutter-out-horizontal">
                            <li><a href="index-2.html">Home</a><span></span></li>
                            <li><a href="#">contact</a></li>
                        </ol>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
<!-- ==========================================================
3.*romana_awesome_service_area start
============================================================ -->
    <div class="romana_gmap_area romana_registration_form_area">
        <div class="romana_google_map">
            <div id="googleMap"></div>
        </div>
        <div class="container">
            <div class="row ">
                <!-- column End -->
                <div class="col-sm-12">
                    <div class="romana_registration_btn text-center">
                        <p class="hvr-bounce-to-right">get in touch</p>                        

                    </div>

                    
                    <div class="romana_registration_form">
                        <form action="contact" method="POST">
                            <p class="<%= @msgls %>"><%= @msg %></p>
                            <div class="row">
                                
                                <div class="col-sm-6">
                                    <div class="field">
                                        <label class="placeholder" for="FistName">
                                            First name
                                            <span class="red">*</span>
                                        </label>
                                        <input id="firstname" type="text" name="firstname" />
                                    </div>
                                    <div class="field">
                                        <label class="placeholder" for="userEmail">
                                            Email Address
                                            <span class="red">*</span>
                                        </label>
                                        <input id="email" type="text" name="email" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="field">
                                        <label class="placeholder" for="LastName">
                                            Last name
                                            <span class="red">*</span>
                                        </label>
                                        <input id="lastname" type="text" name="lastname" />
                                    </div>
                                    <div class="field">
                                        <label class="placeholder" for="userPhone">
                                            Phone Number
                                            <span class="red">*</span>
                                        </label>
                                        <input id="phone" type="text" name="phone" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="field text-field">
                                        <label class="placeholder" id="messagehere">
                                            Message here ...
                                        </label>
                                        <textarea cols="30" rows="10" name="message" id="message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="romana_submit_btn">
                                <input type="submit" id="submit" value="message now">
                            </div>
                        </form>
                    </div>
                    <!-- romana_registration form End -->
                    <div class="romana_contact_info">
                        <p><b>Phone:</b> <span><%= @ss.contact_number %></span></p>
                        <p><b>Email:</b> <span><%= @ss.contact_email %></span></p>
                        <address>
                        <b>Address:</b>
                        <span><%= @ss.contact_address %></span>
                    </address>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
<!-- ==================================================
4.*Footer_area start
=================================================== -->
    <%= render 'footer' %>

<!-- ======================================================
    ***Js Files***
=========================================================== -->

    <!-- ================= Main Js ==================== -->
    <script src="<%= request.base_url %>/assets/javascripts/jquery-3.1.0.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- ================= Google Map Api ============== -->
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD7CQl6fRhagGok6CzFGOOPne2X1u1spoA"></script>
    <script type="text/javascript">
        var map;
        var latlng = new google.maps.LatLng(<%= @ss.gmap_longitude %>, <%= @ss.gmap_latitude %>);
        var stylez = [
            {
                featureType: "all",
                elementType: "all",
                stylers: [
                    {
                        saturation: -100
                    } // <-- THIS
                  ]
                }
            ];
        var mapOptions = {
            zoom: 12,
            center: latlng,
            scrollwheel: false,
            scaleControl: false,
            disableDefaultUI: true,
            mapTypeControlOptions: {
                mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'gMap']
            }
        };
        map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);
        var geocoder_map = new google.maps.Geocoder();
        var address = 'Rome';
        geocoder_map.geocode({
            'address': address
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);

                var marker = new google.maps.Marker({
                    map: map,
                    icon: 'assets/map.png',
                    position: map.getCenter()
                });

                var contentString = 'Rome';
                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

            } else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });
        var mapType = new google.maps.StyledMapType(stylez, {
            name: "Grayscale"
        });
        map.mapTypes.set('gMap', mapType);
        map.setMapTypeId('gMap');
    </script>

    <!-- ================= Bootstrap min Js =========== -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- ================= Bootstrap min Js =========== -->
    <script src="<%= request.base_url %>/assets/javascripts/bootstrap.min.js"></script>

    <!-- ================= owl carousel min Js ======== -->
    <script src="<%= request.base_url %>/assets/javascripts/owl.carousel.min1.js"></script>

    <!-- ================= Active Js ================== -->
    <script src="<%= request.base_url %>/assets/javascripts/active.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {


        // for msg lable hide show start
        $('#message').focus(function(){
           $("#messagehere").text("");
        });
        $('#message').focusout(function(){
           if($("#message").val() =="") {   
                $("#messagehere").text("Message here ...");
           }
        });
        // for msg lable hide show end
        




        $('#submit').on( "click", function(){
            //alert("ok");
            if(validatioinput("firstname") == false) { return false; } 
            if(validatioinput("lastname") == false) { return false; } 
            if(validatioinput("email") == false) { return false; } 
            if(validatiomo("phone") == false) { return false; } 
            if(validatioinput("message") == false) { return false; }
            //alert("submiting..!!");
            //return false;        
        });
    });
    </script>

</body>


<!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
</html>