<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Jcreate page</title>

    <!-- ================================================================
        ***Favicon***
    ================================================================= -->

    <link rel="shortcut icon" type="image/png" href="<%= request.base_url %>/images/fevicon.png">

    <!-- ================================================================
        ***CSS File***
    ================================================================= -->
    <!-- ================= *** Google Font-Poppins *** ======================= -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- ================= *** Animate CSS *** ======================= -->
    <%= stylesheet_link_tag    'animate.min', media: 'all', 'data-turbolinks-track' => true %>

    <!--<link href="<%= request.base_url %>/css/animate.min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Bootstrap CSS *** ===================== -->
    <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css"> -->

    <!-- ================= *** Font-awesome CSS *** ================== -->
    <%= stylesheet_link_tag    'hover-min', media: 'all', 'data-turbolinks-track' => true %>
   <!-- <link href="<%= request.base_url %>/css/hover-min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** icofont CSS *** ======================= -->
     <%= stylesheet_link_tag    'icofont', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/icofont.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Owl Carousel CSS *** ================== -->
     <%= stylesheet_link_tag    'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/owl.carousel.css" rel="stylesheet" type="text/css">-->

    <%= stylesheet_link_tag    'home_owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/home_owl.carousel.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Main CSS *** ========================== -->

    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="home"  id="index2">
    <div id="preloader">
        <div class="preloader_spinner"></div>
    </div>
    <!-- preloader end -->

    <!-- ==========================================================
    1.*Header_area start
    ============================================================ -->
    <%= render 'header' %>
<div class="romana_allPage_area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="romana_allPage_text text-center">
                            <h1>jcreate Service</h1>
                            <ol class="breadcrumb hvr-shutter-out-horizontal">
                                <li><a href="/">jcreate</a><span></span></li>
                                <li><a href="#">hardware spec.</a></li>
                            </ol>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
            <!-- container End -->
        </div>

        <div class="customize_sys">
            <div class="container">
               <div class="row">
                    <div class="col l12 m12 s12">
                        <div class="wizard_form"><!-- start wizard form -->
                            <div id="wid-id-0">
                                <!-- widget div-->
                                <div role="content">
                                    <!-- widget content -->
                                    <div class="widget-body">
                                        <div class="row">
                                            <form id="wizard-1" novalidate="novalidate" method="post" action="<%= request.base_url %>/jstore">
                                                <div id="bootstrap-wizard-1" class="col-sm-12">
                                                    <div class="form-bootstrapWizard">
                                                        <ul class="bootstrapWizard form-wizard">
                                                            <li id="navw1" class="active" data-target="#step1">
                                                                <a href="#tab1" data-toggle="tab" class="active"> <span class="step">1</span> <span class="title">Choose a provider</span> </a>
                                                            </li>

                                                            <li id="navw2" data-target="" class="">
                                                                <a id="navw2a" href="tab1" data-toggle="tab"> <span class="step">2</span> <span class="title">Configure your system</span> </a>
                                                            </li>

                                                        </ul>
                                                        <div class="clearfix"></div>
                                                    </div><!-- end form-bootstrapWizard -->

                                                    <div class="tab-content ">
                                                        <div class="tab-pane active" id="tab1">
                                                            <div class="tab_form">
                                                                <div class="row">


                                                                <% @cloud_services.each do |cloud_service| %>
                                                                    <div class="col-md-4 service" id="<%= cloud_service.id %>" title="<%= cloud_service.title %>" image="/assets/<%= cloud_service.logo %>" >
                                                                       <div class="cloud_img">
                                                                           <a href="javascript:void(0)"> 
                                                                                 <img src="/assets/<%= cloud_service.logo %>" class="img-responsive">
                                                                            </a>
                                                                        </div>
                                                                    </div> 
                                                                <% end %>

        
                                                                </div>            
                                                            </div><!-- tab_form -->
                                                        </div><!-- end tab-pane-1 -->


                                                        <div class="tab-pane" id="tab2">
                                                            <div class="tab_form">
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="default_config_box">
                                                                            <img id="selectedimg" src="" class="img-responsive" alt="Cloud_logo" width="200">  

                                                                            <div class="config_list">
                                                                                <div class="list_item">
                                                                                    <i class="icofont icofont-computer"></i>

                                                                                    <div>
                                                                                        <p> 1 Master </p>
                                                                                        <p> 2 Workers </p>    
                                                                                    </div>
                                                                                </div> 

                                                                                 <div class="list_item">
                                                                                    <i class="icofont icofont-building-alt"></i>
                                                                                    <p>
                                                                                        US West (Oregon)
                                                                                    </p>    
                                                                                </div>   
                                                                            </div>    
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-8">
                                                                        <div class="choose_config">
                                                                            <h3>Customize Your Own System</h3>

                                                                            <div class="space20">
                                    <select class="" name="jcreate_cloud_os" id="jcreate_cloud_os">
                                            <option value="">Select OS</option>
                                            <% @cloud_oss.each do |cloud_os| %>
                                            <%
                                            thisparent = session[:jcreate_cloud_os] #""#@ss.parent
                                            thiscatid = cloud_os.id
                                            if thisparent == thiscatid
                                                parentsect = 'selected="selected"'
                                            else
                                                parentsect = 'else'
                                            end
                                            %>
                                            <option value="<%= cloud_os.id %>" <%= parentsect %>><%= cloud_os.title %></option>
                                        <% end %>
                                    </select>



                                    <select class="" name="jcreate_cloud_ram" id="jcreate_cloud_ram">
                                            <option value="">Select RAM</option>
                                            <% @cloud_rams.each do |cloud_ram| %>
                                            <%
                                            thisparent = session[:jcreate_cloud_ram] #""#@ss.parent
                                            thiscatid = cloud_ram.id
                                            if thisparent == thiscatid
                                                parentsect = 'selected="selected"'
                                            else
                                                parentsect = 'else'
                                            end
                                            %>
                                            <option value="<%= cloud_ram.id %>" <%= parentsect %>><%= cloud_ram.title %> GB </option>
                                        <% end %>
                                    </select>



                                    <select class="" name="jcreate_cloud_harddisk" id="jcreate_cloud_harddisk">
                                            <option value="">Select Harddisk</option>
                                            <% @cloud_harddisks.each do |cloud_harddisk| %>
                                            <%
                                            thisparent = session[:jcreate_cloud_harddisk] #""#@ss.parent
                                            thiscatid = cloud_harddisk.id
                                            if thisparent == thiscatid
                                                parentsect = 'selected="selected"'
                                            else
                                                parentsect = 'else'
                                            end
                                            %>
                                            <option value="<%= cloud_harddisk.id %>" <%= parentsect %>><%= cloud_harddisk.title %> GB </option>
                                        <% end %>
                                    </select>

                                    <a href="#" target="_self" class="block_btn space20">Get Price</a>

                                    <strong class="cur_price"> $100 </strong>

                                    <p>    
                                    <button type="submit" name="jcreate_btm" id="jcreate_btm" value="jcreate_submit" class="hvr-bounce-to-right block_btn space20">Next <i class="icofont icofont-curved-double-right "></i></button>
                                    <input type="hidden" name="fromaction" value="fromjcreate">
                                    <input type="hidden" name="jcreate_cloud_service" id="jcreate_cloud_service" value="">

                                    </p>





                                                                            </div>          
                                                                        </div>   <!-- end choose config -->
                                                                    </div>    
                                                                </div>              
                                                            </div><!-- tab_form -->
                                                        </div><!-- end tab-pane-2 -->
                                                    </div><!-- end tab-content -->
                                                </div>  <!-- bootstrap-wizard-1 -->  
                                            </form> <!-- end form -->
                                        </div>
                                    </div><!-- end widget body -->
                                </div>
                            </div>
                        </div><!-- end wizard form -->
                    </div>    
                </div>   <!-- end row --> 
            </div>
        </div><!-- end all_plan -->



    <div class="romana_awesome_service_area romana_section_padding">
        <div class="container">
            <div class="romana_awesome_service_content">
                <div class="row ">
                    <div class="col-sm-8 col-xs-12">
                        <div class="romana_awesome_service_text text-center">
                            <h2>We give always awesome service.</h2>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-2 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                        <div class="romana_awesome_service_btn ">
                            <a href="#">start now</a>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
        </div>
        <!-- container End -->
    </div>


    <!--
    <pre>
    <%= debug session %>
    </pre>
    -->

<!-- ==================================================
5.*Footer_area start
=================================================== -->
    <%= render 'footer' %>

<!-- ======================================================
    ***Js Files***
=========================================================== -->

    <!-- ================= Main Js ==================== -->
    <script src="<%= request.base_url %>/assets/javascripts/jquery-3.1.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- ================= Bootstrap min Js =========== -->
    <script src="<%= request.base_url %>/assets/javascripts/bootstrap.min.js"></script>

    <!-- ================= owl carousel min Js ======== -->
    <script src="<%= request.base_url %>/assets/javascripts/owl.carousel.min1.js"></script>

    <!-- ================= Active Js ================== -->
    <script src="<%= request.base_url %>/assets/javascripts/active.js"></script>


    <script type="text/javascript">
            $(document).ready(function() {

                $('.service').on( "click", function(){
                    var thissid = $(this).attr('id');
                    var thisstitle = $(this).attr('title');
                    var thissimage = $(this).attr('image');
                    $("#jcreate_cloud_service").val(thissid);
                    $("#selectedimg").attr('src',thissimage);                    
                    $("#tab1").removeClass('active');                    
                    $("#tab2").addClass('active');
                    $("#navw1").removeClass('active');                    
                    $("#navw2").addClass('active');


                    

                    $("#navw2a").attr('href',"#tab2");                    


                });                


                

                $('#jcreate_cloud_os').on( "change", function(){

                    var tt  = $(this).value();
                    //alert(tt);


                });                


                $('#jcreate_btm').on( "click", function(){

                    if(validatioinput("jcreate_customize_title") == false) { return false; }
                    if(validatioinput("jcreate_cloud_service") == false) { return false; }
                    if(validatioinput("jcreate_cloud_os") == false) { return false; }
                    if(validatioinput("jcreate_cloud_ram") == false) { return false; }
                    if(validatioinput("jcreate_cloud_harddisk") == false) { return false; }

                    //alert("submiting..!!");
                    //return false;
                });
            });
    </script>

</body>


<!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
</html>

