<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from crazycafe.net/demos/hosting/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:11:39 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->

    <title>Hosting-Home page</title>

    <!-- ================================================================
        ***Favicon***
    ================================================================= -->

    <link rel="shortcut icon" type="image/png" href="<%= request.base_url %>/images/fevicon.png">

    <!-- ================================================================
        ***CSS File***
    ================================================================= -->
    <!-- ================= *** Google Font-Poppins *** ======================= -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- ================= *** Animate CSS *** ======================= -->
    <%= stylesheet_link_tag    'animate.min', media: 'all', 'data-turbolinks-track' => true %>

    <!--<link href="<%= request.base_url %>/css/animate.min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Bootstrap CSS *** ===================== -->
    <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css"> -->

    <!-- ================= *** Font-awesome CSS *** ================== -->
    <%= stylesheet_link_tag    'hover-min', media: 'all', 'data-turbolinks-track' => true %>
   <!-- <link href="<%= request.base_url %>/css/hover-min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** icofont CSS *** ======================= -->
     <%= stylesheet_link_tag    'icofont', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/icofont.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Owl Carousel CSS *** ================== -->
     <%= stylesheet_link_tag    'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/owl.carousel.css" rel="stylesheet" type="text/css">-->

    <%= stylesheet_link_tag    'home_owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/home_owl.carousel.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Main CSS *** ========================== -->

    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/style.css" rel="stylesheet" type="text/css">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="index2" class="home">
    <div id="preloader">
        <div class="preloader_spinner"></div>
    </div>
    <!-- preloader end -->

    
<!-- ==========================================================
    1.*Header_area start
============================================================ -->
    <%= render 'header' %>
    <!-- Header End -->



<!-- ==========================================================
2.*Hero_area start
============================================================ -->
    <section class="romana_hero_area">
        <div class="hero_slider">


            <% @homesliders.each do |slider| %>
                <div class="hero_slider_bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <div class="romana_hero_left_img hidden-xs">
                                    <img src="<%= request.base_url %>/images/<%= slider.image %>" alt="">
                                </div>
                            </div>
                            <div class="col-sm-7 col-xs-12">
                                <div class="romana_hero_text">
                                    <div class="romana_hero_left_text romana_hero_right_text_img hidden-xs">
                                        <p>from <span><small>$</small><%= slider.price_per_month %></span></p>
                                        <p class="month">per month</p>
                                    </div>
                                    <h1><%= slider.title %></h1>
                                    <h2><%= slider.tag_line %></h2>
                                    <p class="slider_text_animation"><%= slider.description %></p>
                                    <div class="romana_slider_btn">
                                        <a href="<%= slider.start_now %>" class="romana_slider_btn1 hvr-shutter-out-horizontal">start now<i class="icofont icofont-long-arrow-right"></i></a>
                                        <a href="<%= slider.read_more %>" class="romana_slider_btn2 hvr-shutter-out-horizontal">read more<i class="icofont icofont-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- column end -->
                        </div>
                        <!-- row end -->
                    </div>
                    <!-- container end -->
                </div>
            <% end %>
           
        </div>
    </section>
    <!-- HeroSlider area end -->
<!-- ==========================================================
3.*romana_search_domain_area start
============================================================ -->
    <div class="romana_search_domain_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="romana_domain_text text-center">
                        <h2><%= @ss.home_page_intro_title %></h2>
                        <p class="para"><%= @ss.price_page_intro_description %></p>   
                    </div>
                </div>
                <!-- column End -->
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
<!-- ==========================================================
4.*romana_why_choose_area start
============================================================ -->
    <div class="romana_why_choose_area romana_section_padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="romana_section_title text-center">
                        <h2><%= @ss.home_page_features_title %></h2>
                        <p><%= @ss.price_page_features_description %></p>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-4">
                     <% i=1 %> 
                     <% @services.each do |service| %>
                        <% if i === 3 %>
                        </div><div class="col-sm-4">
                        <%  i = 1 end %>
                        <div class="romana_single_choose text-center">
                            <a href="service" class="hvr-wobble-skew"><img src="<%= request.base_url %>/images/<%= service.image %>" alt="icon"></a>
                            <h3><%= service.title %></h3>
                            <p><%= service.description %></p>
                        </div>
                    <% i+=1 end %>
                </div>
                
                
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
<!-- ==========================================================
5.*romana_hosting_plan_area start
============================================================ -->
    <div class="romana_hosting_plan_area romana_section_padding">
        <div class="container">
            <div class="row ">
                <div class="col-xs-12">
                    <div class="romana_section_title text-center">
                        <h2><%= @ss.home_page_you_get_title %></h2>
                        <p><%= @ss.price_page_you_get_description %></p>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
            <div class="row ">
                <div class="col-sm-4 col-xs-12">
                    <div class="romana_single_plan text-center">
                        <div class="romana_plan_icon hvr-grow">
                            <a href="#"><img src="<%= request.base_url %>/images/plan_icon1.png" alt="icon"></a>
                        </div>
                        <h3>CONNECT</h3>
                        <p>Duis autem vel eum iriure dolor in henshe vulputate velit esse molestie andnse</p>
                        <div class="romana_plan_btn">
                            <a href="#" class="hvr-bounce-to-right">read more</a>
                        </div>
                    </div>
                </div>
                <!-- column End -->
                <div class="col-sm-4 col-xs-12">
                    <div class="romana_single_plan text-center">
                        <div class="romana_plan_icon hvr-grow">
                            <a href="#"><img src="<%= request.base_url %>/images/plan_icon2.png" alt="icon"></a>
                        </div>
                        <h3>BROWSE</h3>
                        <p>Duis autem vel eum iriure dolor in henshe vulputate velit esse molestie andnse</p>
                        <div class="romana_plan_btn">
                            <a href="#" class="hvr-bounce-to-right">read more</a>
                        </div>
                    </div>
                </div>
                <!-- column End -->
                <div class="col-sm-4 col-xs-12">
                    <div class="romana_single_plan text-center">
                        <div class="romana_plan_icon hvr-grow">
                            <a href="#"><img src="<%= request.base_url %>/images/plan_icon3.png" alt="icon"></a>
                        </div>
                        <h3>USE & ENJOY</h3>
                        <p>Duis autem vel eum iriure dolor in henshe vulputate velit esse molestie andnse</p>
                        <div class="romana_plan_btn">
                            <a href="#" class="hvr-bounce-to-right">read more</a>
                        </div>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>

<!-- ==========================================================
6.*romana_web_hosting_area start
============================================================ -->
    <div class="romana_web_hosting_area romana_section_padding">
        <div class="container">
            <div class="row ">
                <div class="col-sm-6 col-xs-12">
                    <div class="romana_web_hosting_text">
                        <h2><%= @ss.home_page_start_now_title %></h2>
                        <p><%= @ss.price_page_start_now_description %></p>
                        <div class="romana_web_hosting_btn">
                            <a href="registration" class="hvr-bounce-to-right">start now</a>
                        </div>
                    </div>
                </div>
                <!-- column End -->
                <div class="col-sm-6 col-xs-12">
                    <div class="romana_web_hosting_img">
                        <img src="<%= request.base_url %>/images/website.png" alt="">
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>

  
<!-- ==========================================================
9.*romana_awesome_service_area start
============================================================ -->
    <div class="romana_awesome_service_area romana_section_padding">
        <div class="container">
            <div class="romana_awesome_service_content">
                <div class="row ">
                    <div class="col-sm-8 col-xs-12">
                        <div class="romana_awesome_service_text text-center">
                            <h2><%= @ss.service_page_opt_in_text %></h2>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-2 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                        <div class="romana_awesome_service_btn ">
                            <a href="registration">start now</a>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
        </div>
        <!-- container End -->
    </div>
<!-- ==================================================
10.*Footer_area start
=================================================== -->


    <!-- ======================================================
    ***Js Files***
    =========================================================== -->

    <!-- ================= Main Js ==================== -->
     <%= javascript_include_tag 'jquery-3.1.0.min', 'data-turbolinks-track' => true %>
   <!--<script src="<%= request.base_url %>/js/jquery-3.1.0.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- ================= Bootstrap min Js =========== -->
    <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
    <!--<script src="<%= request.base_url %>/js/bootstrap.min.js"></script>-->

    <!-- ================= owl carousel min Js ======== -->
    <%= javascript_include_tag 'owl.carousel.min1', 'data-turbolinks-track' => true %>
    <!--<script src="<%= request.base_url %>/js/owl.carousel.min1.js"></script>-->

    <!-- ================= Active Js ================== -->
    <%= javascript_include_tag 'active', 'data-turbolinks-track' => true %>
    <!--<script src="<%= request.base_url %>/js/active.js"></script>-->

    <%= render 'footer' %>

</body>


<!-- Mirrored from crazycafe.net/demos/hosting/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:12:17 GMT -->
</html>