<!DOCTYPE html>
<html lang="en">

    <!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- Title -->
        <title>Jstore page</title>

        <!-- ================================================================
        ***Favicon***
    ================================================================= -->

        <link rel="shortcut icon" type="image/png" href="<%= request.base_url %>/images/fevicon.png">

    <!-- ================================================================
        ***CSS File***
    ================================================================= -->
    <!-- ================= *** Google Font-Poppins *** ======================= -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- ================= *** Animate CSS *** ======================= -->
    <%= stylesheet_link_tag    'animate.min', media: 'all', 'data-turbolinks-track' => true %>

    <!--<link href="<%= request.base_url %>/css/animate.min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Bootstrap CSS *** ===================== -->
    <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css"> -->

    <!-- ================= *** Font-awesome CSS *** ================== -->
    <%= stylesheet_link_tag    'hover-min', media: 'all', 'data-turbolinks-track' => true %>
   <!-- <link href="<%= request.base_url %>/css/hover-min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** icofont CSS *** ======================= -->
     <%= stylesheet_link_tag    'icofont', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/icofont.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Owl Carousel CSS *** ================== -->
     <%= stylesheet_link_tag    'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/owl.carousel.css" rel="stylesheet" type="text/css">-->

    <%= stylesheet_link_tag    'home_owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/home_owl.carousel.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Main CSS *** ========================== -->

    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
    </head>

    <body class="home" id="index2">
        <div id="preloader">
            <div class="preloader_spinner"></div>
        </div>
        <!-- preloader end -->

        <!-- ==========================================================
    1.*Header_area start
    ============================================================ -->
        <%= render 'header' %>

        <section id="main_cat_wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-sm-3">
                        <div class="side_nav">
                            <!--
                            <p>
                                <%= @catid %><br>
                                <%= @catdata.id %>  <br>
                                <%= @catdata.title %><br>
                                <%= @catdata.image %><br>
                                <%= @catdata.icon %><br>
                            </p>
                            -->

                            <ul class="list-unstyled">
                                <% @categorys.each do |category| %>
                            <%
                                thiscatid = category.id
                                if @catdata.id == thiscatid
                                    parentsect = 'active'
                                else
                                    parentsect = 'else'
                                end
                                %>
                                <a href="<%= request.base_url %>/jstore/<%= category.id %>" target="_self">
                                <li class="<%= parentsect %>">
                                        <i class="icofont <%= category.icon %>" aria-hidden="true"></i><%= category.title %></a>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-10 col-sm-9">
                        <div class="action_bar">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="action_nav list-inline">
                                            <li class="dropdown">
                                                <a href="#" onclick="return false;">
                                                    <%= @catdata.title %>
                                                    <i class="icofont icofont-rounded-down"></i>
                                                </a>
                                                <ul class="dropdown-menu list-inline">
                                                    <li>
                                                        <ul class="inner_dropdown">
                                                            <% @subcategorys.each do |subcategory| %>
                                                            <li>
                                                                <a href="<%= request.base_url %>/jstore/<%= subcategory.parent %>/<%= subcategory.id %>" target="_self"><%= subcategory.title %></a>
                                                            </li>
                                                            <% end %>
                                                        </ul>
                                                        <!-- end inner_dropdown -->
                                                    </li>
                                                    <!--
                                                    <li>
                                                        <ul class="inner_dropdown">
                                                            <li>
                                                                <a href="#">Android Wear</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Art & Design</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Beauty</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Business</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Comics</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Communication</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Dating</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Education</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Events</a>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                    <li>
                                                        <ul class="inner_dropdown">
                                                            <li>
                                                                <a href="#">Android Wear</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Art & Design</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Beauty</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Business</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Comics</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Communication</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Dating</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Education</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Events</a>
                                                            </li>
                                                        </ul>
                                                    </li>-->
                                                </ul>
                                                <!-- end dropdown-menu -->
                                            </li>
                                            <!-- end dropdown -->

                                            <li>
                                                <a href="#top_soft" target="_self">Top
                                                    <%= @catdata.title %>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#new_soft" target="_self">New
                                                    <%= @catdata.title %>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="<%= request.base_url %>/jstore" target="_self">View all
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end action_bar -->

                        <div class="product_slider">
                            <div id="owl-demo1" class="owl-carousel owl-theme">
                                <% @softwares.each do |software|
                                    if software.slider == "active"
                                %>
                                <div class="item">
                                    <img src="<%= request.base_url %>/assets/<%= software.image %>" class="img-responsive" alt="angry_bird">
                                </div>
                                <%
                                end end
                                %>
                                <!--
                                <div class="item">
                                    <img src="assets/angry.jpg" class="img-responsive" alt="angry_bird">
                                </div>

                                <div class="item">
                                    <img src="assets/fifa.jpg" class="img-responsive" alt="angry_bird">
                                </div>

                                <div class="item">
                                    <img src="assets/chrome1.jpg" class="img-responsive" alt="angry_bird">
                                </div>

                                 <div class="item">
                                    <img src="assets/chrome1.jpg" class="img-responsive" alt="angry_bird">
                                </div>
                                <div class="item">
                                    <img src="assets/fifa.jpg" class="img-responsive" alt="angry_bird">
                                </div>
                                -->
                            </div>
                        </div>
                        <!-- end product slider -->

                        <div id="top_soft" class="new_gaming_tool">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-3">
                                    <div class="all_bx">
                                        <a href="<%= request.base_url %>/jstore/<%= @catdata.id %>">
                                            <h4 class="head">Top
                                                <%= @catdata.title %></h4>

                                            <p class="space20">
                                                View all
                                            </p>
                                        </a>
                                    </div>
                                    <!-- end all box -->
                                </div>

                                <div class="col-lg-10 col-md-9 col-sm-9">

                                    <div id="owl-demo2" class="owl-carousel owl-theme">

                                        <% @softwares.each do |software|
                                            if software.istop == "active"
                                                hourly_price = software.price_hourly.split(',')
                                                monthly_price = software.price_monthly.split(',')
                                                yearly_price = software.price_yearly.split(',')
                                        %>
                                        <div class="item">
                                            <div
                                                class="sof_icon_type"
                                                data-toggle="popover"
                                                data-html="true"
                                                data-placement="right"
                                                data-content="<div class='mask '> <div class='mask_content'> <h4 class='head'><%= software.title %></h4> <p class='pr_description'><%= software.description %></p> <form class='form-horizontal form-bordered' method='post' action='<%= request.base_url %>/cart'> <ul class='list-unstyled plan_dtl space20'> <li> <div class='radio'> <input type='radio' class='choseplan' id='price_hourly' name='choseplan' price='<%= hourly_price[2].squish %> per hour' checked value='<%= software.price_hourly%>'> <span><%= hourly_price[0].squish + ' | ' + hourly_price[1].squish + ' hours'%></span> </div> </li> <li> <div class='radio'> <input type='radio' class='choseplan' id='price_monthly' name='choseplan' price='<%= monthly_price[2].squish%> per hour' value='<%= software.price_monthly%>'> <span><%= monthly_price[0].squish + ' | ' + monthly_price[1].squish + ' hours'%></span> </div> </li> <li> <div class='radio'> <input type='radio' class='choseplan' id='price_yearly' name='choseplan' price='<%= yearly_price[2].squish%> per hour' value='<%= software.price_yearly%>'> <span><%= yearly_price[0].squish + ' | ' + yearly_price[1].squish + ' hours'%></span> </div> </li> </ul> <ul class='list-unstyled list-inline space10'> <li> <button type='submit' class='btn btn-primary btn-xs' >Add to Cart</button> <input type='hidden' name='product_id' value='<%= software.id %>'> <input type='hidden' name='user_id' value='<%= session[:login_user_id] %>'> </li> <li> <div class='vw_more'> <a href='<%= request.base_url %>/product/<%= software.id %>' target='_self'> View more </a> </div> </li> </ul> </form> </div> </div>">
                                                <div class="icon_img">
                                                    <img src="<%= request.base_url %>/assets/<%= software.image %>" class="img-responsive" title="<%= software.title %>">
                                                </div>
                                                <div class="product_dtl">
                                                    <h5 class="pr_name">
                                                        <%= software.title %>
                                                    </h5>
                                                    <p class="pr_description">
                                                        <%= software.description[0,35]%>..
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- end sof_icon_type -->
                                        </div>
                                        <!-- end item -->
                                        <%
                                        end end
                                        %>

                                    </div>
                                    <!-- end owl carousel -->
                                </div>
                            </div>
                        </div>
                        <!-- end top_soft tool -->

                        <div class="space60"></div>

                        <div id="new_soft" class="new_gaming_tool">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-3">
                                    <div class="all_bx">
                                        <a href="<%= request.base_url %>/jstore/<%= @catdata.id %>">
                                            <h4 class="head">New
                                                <%= @catdata.title %></h4>

                                            <p class="space20">
                                                View all
                                            </p>
                                        </a>
                                    </div>
                                    <!-- end all box -->
                                </div>

                                <div class="col-lg-10 col-md-9 col-sm-9">
                                    <div id="owl-demo3" class="owl-carousel owl-theme">

                                        <% @softwares.each do |software|
                                            if software.isnew == "active"
                                                hourly_price = software.price_hourly.split(',')
                                                monthly_price = software.price_monthly.split(',')
                                                yearly_price = software.price_yearly.split(',')
                                        %>
                                        <div class="item">
                                            <div
                                                class="sof_icon_type"
                                                data-toggle="popover"
                                                data-html="true"
                                                data-placement="right"
                                                data-content="<div class='mask '> <div class='mask_content'> <h4 class='head'><%= software.title %></h4> <p class='pr_description'><%= software.description %></p> <form class='form-horizontal form-bordered' method='post' action='<%= request.base_url %>/cart'> <ul class='list-unstyled plan_dtl space20'> <li> <div class='radio'> <input type='radio' class='choseplan' id='price_hourly' name='choseplan' price='<%= hourly_price[2].squish %> per hour' checked value='<%= software.price_hourly%>'> <span><%= hourly_price[0].squish + ' | ' + hourly_price[1].squish + ' hours'%></span> </div> </li> <li> <div class='radio'> <input type='radio' class='choseplan' id='price_monthly' name='choseplan' price='<%= monthly_price[2].squish%> per hour' value='<%= software.price_monthly%>'> <span><%= monthly_price[0].squish + ' | ' + monthly_price[1].squish + ' hours'%></span> </div> </li> <li> <div class='radio'> <input type='radio' class='choseplan' id='price_yearly' name='choseplan' price='<%= yearly_price[2].squish%> per hour' value='<%= software.price_yearly%>'> <span><%= yearly_price[0].squish + ' | ' + yearly_price[1].squish + ' hours'%></span> </div> </li> </ul> <ul class='list-unstyled list-inline space10'> <li> <button type='submit' class='btn btn-primary btn-xs' >Add to Cart</button> <input type='hidden' name='product_id' value='<%= software.id %>'> <input type='hidden' name='user_id' value='<%= session[:login_user_id] %>'> </li> <li> <div class='vw_more'> <a href='<%= request.base_url %>/product/<%= software.id %>' target='_self'> View more </a> </div> </li> </ul> </form> </div> </div>">
                                                <div class="icon_img">
                                                    <img src="<%= request.base_url %>/assets/<%= software.image %>" class="img-responsive" title="<%= software.title %>">
                                                </div>
                                                <div class="product_dtl">
                                                    <h5 class="pr_name">
                                                        <%= software.title %>
                                                    </h5>
                                                    <p class="pr_description">
                                                        <%= software.description[0,35]%>..
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- end sof_icon_type -->
                                        </div>
                                        <!-- end item -->
                                        <%
                                        end end
                                        %>

                                    </div>
                                    <!-- end owl carousel -->
                                </div>
                            </div>
                        </div>
                        <!-- end new_soft tool -->

                        <!--  <div class="nxt_btn text-center">
                            <a href="all_soft.html" >Next Step <i class="icofont icofont-curved-double-right "></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- main_cat_wrapper -->

        <!--  <div class="jsolo_service">
            <div class="container">
                <div class="romana_section_title text-center">
                    <h2>Select Multiple Services</h2>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>

                    <div class="col-md-4">
                        <div class="ser_type_bx software_type text-center">
                            <div class="typ_img">
                                <img src="assets/vector-software.png" class="img-responsive">
                            </div>

                            <h2 class="type_name">
                                Software
                            </h2>

                            <div class="slct_type">
                                <div class="checkbox">
                                    <input type="checkbox" >

                                    Select this service
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2"></div>

                    <div class="col-md-4">
                        <div class="ser_type_bx game_type text-center">
                            <div class="typ_img">
                                <img src="assets/gamepad.png" class="img-responsive">
                            </div>

                            <h2 class="type_name">
                                Gaming
                            </h2>

                            <div class="slct_type">
                                <div class="checkbox">
                                    <input type="checkbox" >

                                    Select this service
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1"></div>
                </div>

                <div class="nxt_btn text-center">
                    <a href="all_soft.html" >Next Step <i class="icofont icofont-curved-double-right "></i></a>
                </div>
            </div>
        </div> -->
        <!-- end all service -->

        <div class="romana_awesome_service_area romana_section_padding space100">
            <div class="container">

                <div class="romana_awesome_service_content">
                    <div class="row ">
                        <div class="col-sm-8 col-xs-12">
                            <div class="romana_awesome_service_text text-center">
                                <h2>We give always awesome service.</h2>
                            </div>
                        </div>
                        <!-- column End -->
                        <div class="col-sm-2 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                            <div class="romana_awesome_service_btn ">
                                <a href="#">start now</a>
                            </div>
                        </div>
                        <!-- column End -->
                    </div>
                    <!-- row End -->
                </div>
            </div>
            <!-- container End -->
        </div>
        <!-- ==================================================
10.*Footer_area start
=================================================== -->
        <%= render 'footer' %>

        <!-- ======================================================
    ***Js Files***
=========================================================== -->

        <!-- ================= Main Js ==================== -->
    <script src="<%= request.base_url %>/assets/javascripts/jquery-3.1.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- ================= Bootstrap min Js =========== -->
    <script src="<%= request.base_url %>/assets/javascripts/bootstrap.min.js"></script>

    <!-- ================= owl carousel min Js ======== -->
    <script src="<%= request.base_url %>/assets/javascripts/owl.carousel.min1.js"></script>

    <!-- ================= Active Js ================== -->
    <script src="<%= request.base_url %>/assets/javascripts/active.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

                var owl = $("#owl-demo1");

                owl.owlCarousel({

                    itemsCustom: [
                        [
                            0, 1
                        ],
                        [
                            450, 1
                        ],
                        [
                            600, 1
                        ],
                        [
                            700, 3
                        ],
                        [
                            1000, 2
                        ],
                        [
                            1200, 2
                        ],
                        [1400, 2]
                    ],
                    navigation: true, // Show next and prev buttons
                    slideSpeed: 300,
                    paginationSpeed: 400,
                    autoPlay: true,

                    navigationText: ["<img src='<%= request.base_url %>/images/prev.png'>", "<img src='<%= request.base_url %>/images/Next.png'>"]
                });

                var owl = $("#owl-demo2");

                owl.owlCarousel({

                    itemsCustom: [
                        [
                            0, 1
                        ],
                        [
                            450, 2
                        ],
                        [
                            600, 2
                        ],
                        [
                            700, 3
                        ],
                        [
                            1000, 3
                        ],
                        [
                            1200, 5
                        ],
                        [1400, 5]
                    ],
                    navigation: true, // Show next and prev buttons
                    slideSpeed: 300,
                    paginationSpeed: 400,
                    autoPlay: false,

                    navigationText: ["<img src='<%= request.base_url %>/images/prev.png'>", "<img src='<%= request.base_url %>/images/Next.png'>"]
                });

                var owl = $("#owl-demo3");

                owl.owlCarousel({

                    itemsCustom: [
                        [
                            0, 1
                        ],
                        [
                            450, 2
                        ],
                        [
                            600, 3
                        ],
                        [
                            700, 2
                        ],
                        [
                            1000, 3
                        ],
                        [
                            1200, 5
                        ],
                        [1400, 5]
                    ],
                    navigation: true, // Show next and prev buttons
                    slideSpeed: 300,
                    paginationSpeed: 400,
                    autoPlay: false,

                    navigationText: ["<img src='<%= request.base_url %>/images/prev.png'>", "<img src='<%= request.base_url %>/images/Next.png'>"]
                });
            });
        </script>

        <script type="text/javascript">
            $(window).scroll(function () {

                var scroll = $(window).scrollTop();

                if (scroll > 50) {
                    $(".side_nav").addClass("fixed");
                } else {
                    $(".side_nav").removeClass("fixed");
                }

                if (scroll > 300) {
                    $(".side_nav").removeClass("fixed");
                }

            });
        </script>

        <script src="<%= request.base_url %>/assets/javascripts/enscroll-0.6.2.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.scrollbox3').enscroll({showOnHover: true, verticalTrackClass: 'track3', verticalHandleClass: 'handle3'});

                $(".sof_icon_type").hover(function () {

                    var ma = $(".mask");

                    if (ma.hasClass("hide")) {

                        $("this").removeClass("hide");
                    }

                    $("this").addClass("show");

                });

                $(function () {
                    var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
                    $('.nav li a').each(function () {
                        if (this.href === path) {
                            $(this).addClass('active');
                        }
                    });
                });

                $("[data-toggle=popover]").popover();
                $("[data-toggle=popover]").on('click',function(e){
                    $("[data-toggle=popover]").not(this).popover('hide');
                });
            });
        </script>
    </body>

    <!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
</html>
