<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Jstore page</title>

    <!-- ================================================================
        ***Favicon***
    ================================================================= -->

    <link rel="shortcut icon" type="image/png" href="<%= request.base_url %>/images/fevicon.png">

    <!-- ================================================================
        ***CSS File***
    ================================================================= -->
    <!-- ================= *** Google Font-Poppins *** ======================= -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- ================= *** Animate CSS *** ======================= -->
    <%= stylesheet_link_tag    'animate.min', media: 'all', 'data-turbolinks-track' => true %>

    <!--<link href="<%= request.base_url %>/css/animate.min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Bootstrap CSS *** ===================== -->
    <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css"> -->

    <!-- ================= *** Font-awesome CSS *** ================== -->
    <%= stylesheet_link_tag    'hover-min', media: 'all', 'data-turbolinks-track' => true %>
   <!-- <link href="<%= request.base_url %>/css/hover-min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** icofont CSS *** ======================= -->
     <%= stylesheet_link_tag    'icofont', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/icofont.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Owl Carousel CSS *** ================== -->
     <%= stylesheet_link_tag    'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/owl.carousel.css" rel="stylesheet" type="text/css">-->

    <%= stylesheet_link_tag    'home_owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/home_owl.carousel.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Main CSS *** ========================== -->

    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="home" id="index2">
    <div id="preloader">
        <div class="preloader_spinner"></div>
    </div>
    <!-- preloader end -->

    <!-- ==========================================================
    1.*Header_area start
    ============================================================ -->
    <%= render 'header' %>

    <div class="bread">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a> >>
                        </li>

                        <li>
                            <a href="<%= request.base_url %>/jstore/<%= @catdata.id %>"><%= @catdata.title %></a> >>
                        </li>

                        <li>
                            <a href="<%= request.base_url %>/jstore/<%= @catdata.id %>/<%= @subcatdata.id %>"><%= @subcatdata.title %></a> >>
                        </li>

                        <li>
                            <%= @software.title %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
     <section id="product_detail" class="space100">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="product_img">

                        <img src="<%= request.base_url %>/assets/<%= @software.image %>" class="img-responsive" alt="image" width="100%">
                    </div><!-- end product img -->
                </div>

                <div class="col-md-7">
                    <div class="product_detail">
                        <h3 class="pro_name"><%= @software.title %></h3>
                        <hr>



                        <div class="pro_more">
                            <p><%= @software.description %></p>
                        </div>

                        <%
                            hourly_price = @software.price_hourly.split(',')
                            monthly_price = @software.price_monthly.split(',')
                            yearly_price = @software.price_yearly.split(',')
                        %>

                        <form class="form-horizontal form-bordered" method="post" action="<%= request.base_url %>/cart">
                            <div class="slct_package">
                                <ul class="list-inline list-unstyled">
                                    <li>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" class="choseplan" id="price_hourly" name="choseplan" price="<%= hourly_price[2].squish %> per hour" checked value="<%= @software.price_hourly%>">
                                                <%= "#{hourly_price[0].squish}"%>
                                            </label>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" class="choseplan" id="price_monthly" name="choseplan" price="<%= monthly_price[2].squish%> per hour" value="<%= @software.price_monthly%>">
                                                <%= "#{monthly_price[0].squish}"%>
                                            </label>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" class="choseplan" id="price_yearly" name="choseplan" price="<%= yearly_price[2].squish%> per hour" value="<%= @software.price_yearly%>">
                                                <%= "#{yearly_price[0].squish}"%>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div> <!-- end select package -->

                            <h4 class="pr_price">
                                $ <%= hourly_price[2].squish%> per hour
                            </h4>

                            <div class="cart_btn space20">
                                <button type="submit" class="block_btn">Add to Cart</button>
                                <input type="hidden" name="product_id" value="<%= @software.id %>">
                                <input type="hidden" name="user_id" value="<%= session[:login_user_id] %>">
                            </div>
                        </form>
                    </div><!-- end product_detail -->
                </div>
            </div>
        </div>
    </section><!-- end product detail -->
 <section id="recommend" class="space100 new_gaming_tool">
        <div class="container">
            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-3">
                                    <div class="all_bx">
                                        <a href="<%= request.base_url %>/jstore/<%= @catdata.id %>">
                                            <h4 class="head">Recommended For You</h4>

                                            <p class="space20">
                                                View all
                                            </p>
                                        </a>
                                    </div> <!-- end all box -->
                                </div>

                                <div class="col-lg-10 col-md-9 col-sm-9">
                                     <div id="owl-demo2" class="owl-carousel owl-theme">


                                        <% @softwares.each do |software|
                                            if software.istop == "active"
                                        %>
                                            <div class="item">
                                                <div class="sof_icon_type" data-toggle="popover"  data-html="true" data-placement="right" data-content="<div class='mask '> <div class='mask_content'> <h4 class='head'><%= software.title %></h4> <p class='pr_description'><%= software.description %></p><ul class='list-unstyled plan_dtl space20'> <li> <div class='radio'> <input type='radio' name='plan'> <span>$<%= software.price_hourly %>/</span>Hourly </div></li><li> <div class='radio'> <input type='radio' name='plan'> <span>$<%= software.price_monthly %>/</span>Monthly </div></li><li> <div class='radio'> <input type='radio' name='plan'> <span>$<%= software.price_yearly %>/</span>Yearly </div></li></ul> <ul class='list-unstyled list-inline space10'> <li> <a href='<%= request.base_url %>/product/<%= software.id %>' class='btn btn-primary btn-xs'> Add Cart </a> </li><li> <div class='vw_more'> <a href='<%= request.base_url %>/product/<%= software.id %>' cl> View more </a> </div></li></ul> </div></div>">
                                                    <div class="icon_img">
                                                        <img src="<%= request.base_url %>/assets/<%= software.image %>" class="img-responsive" title="<%= software.title %>">
                                                    </div>
                                                    <div class="product_dtl">
                                                        <h5 class="pr_name">
                                                            <%= software.title %>
                                                        </h5>
                                                        <p class="pr_description">
                                                            <%= software.description[0,35]%>..
                                                        </p>
                                                    </div>
                                                </div> <!-- end sof_icon_type -->
                                        </div><!-- end item -->
                                        <%
                                        end end
                                        %>


                                    </div>    <!-- end owl carousel -->
                                </div>
                            </div>
          </div>
    </section>



    <div class="romana_awesome_service_area romana_section_padding">
        <div class="container">
            <div class="romana_awesome_service_content">
                <div class="row ">
                    <div class="col-sm-8 col-xs-12">
                        <div class="romana_awesome_service_text text-center">
                            <h2>We give always awesome service.</h2>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-2 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                        <div class="romana_awesome_service_btn ">
                            <a href="#">start now</a>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
        </div>
        <!-- container End -->
    </div>

    <%= render 'footer' %>

<!-- ======================================================
    ***Js Files***
=========================================================== -->

    <!-- ================= Main Js ==================== -->
    <script src="<%= request.base_url %>/assets/javascripts/jquery-3.1.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- ================= Bootstrap min Js =========== -->
    <script src="<%= request.base_url %>/assets/javascripts/bootstrap.min.js"></script>

    <!-- ================= owl carousel min Js ======== -->
    <script src="<%= request.base_url %>/assets/javascripts/owl.carousel.min1.js"></script>

    <!-- ================= Active Js ================== -->
    <script src="<%= request.base_url %>/assets/javascripts/active.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
            $(".choseplan").click(function() {
                var price = $(this).attr('price');
                var id = $(this).attr('id');
                //alert(id);
                $(".pr_price").html('$ '+price);
                $("#price_type").val(id);
            });
        });
    </script>



    <script type="text/javascript">
        $(document).ready(function() {
           $(function() {
               var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
               $('.nav li a').each(function() {
                if (this.href === path) {
                 $(this).addClass('active');
                }
               });
              });
        });
    </script>

      <script type="text/javascript">
       $(document).ready(function() {

          var owl = $("#owl-demo2");

          owl.owlCarousel({

              itemsCustom : [
                [0, 1],
                [450, 3],
                [600, 4],
                [700, 3],
                [1000, 4],
                [1200, 5],
                [1400,5],

              ],
                navigation : true, // Show next and prev buttons
              slideSpeed : 300,
              paginationSpeed : 400,
              autoPlay :true,

              navigationText: [
              "<img src='<%= request.base_url %>/images/prev.png'>",
             "<img src='<%= request.base_url %>/images/Next.png'>"
              ]
            });
          });
    </script>

       <script src="<%= request.base_url %>/js/enscroll-0.6.2.min.js"></script>

     <script type="text/javascript">
        $(document).ready(function(){
            $('.scrollbox3').enscroll({
                showOnHover: true,
                verticalTrackClass: 'track3',
                verticalHandleClass: 'handle3'
            });



              $(function() {
               var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
               $('.nav li a').each(function() {
                if (this.href === path) {
                 $(this).addClass('active');
                }
               });
              });

              $("[data-toggle=popover]").popover();
        });
    </script>
</body>


<!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
</html>
