<!DOCTYPE html>
<html lang="en">

    <!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- Title -->
        <title>Select User</title>

        <!-- ================================================================
        ***Favicon***
    ================================================================= -->

        <link rel="shortcut icon" type="image/png" href="<%= request.base_url %>/images/fevicon.png">

    <!-- ================================================================
        ***CSS File***
    ================================================================= -->
    <!-- ================= *** Google Font-Poppins *** ======================= -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- ================= *** Animate CSS *** ======================= -->
    <%= stylesheet_link_tag    'animate.min', media: 'all', 'data-turbolinks-track' => true %>

    <!--<link href="<%= request.base_url %>/css/animate.min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Bootstrap CSS *** ===================== -->
    <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css"> -->

    <!-- ================= *** Font-awesome CSS *** ================== -->
    <%= stylesheet_link_tag    'hover-min', media: 'all', 'data-turbolinks-track' => true %>
   <!-- <link href="<%= request.base_url %>/css/hover-min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** icofont CSS *** ======================= -->
     <%= stylesheet_link_tag    'icofont', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/icofont.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Owl Carousel CSS *** ================== -->
     <%= stylesheet_link_tag    'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/owl.carousel.css" rel="stylesheet" type="text/css">-->

    <%= stylesheet_link_tag    'home_owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/home_owl.carousel.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Main CSS *** ========================== -->

    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
        <script>
            $(document).ready(function () {
                var group_id = $('#group_name').data('id')
                var user_id;
                var software_id;
                var mass_select = false;

                $('#mark-group-billing').on('change', function () {
                    // $(".mark-individual-billing").prop("checked", this.checked);
                    $(".mark-individual-billing").trigger('click');;
                });

                $('#mark-group-software').on('change', function () {
                    if (this.checked) {
                        $("#select-group-software").show();
                        $(".select-individual-software").hide();
                    } else {
                        $("#select-group-software").hide();
                        $(".select-individual-software").show();
                    }
                });

                $('.select-individual-software').on('click', function () {
                    user_id = $(this).data('id');
                    mass_select = false;
                });

                $('#select-group-software').on('click', function () {
                    mass_select = true;
                });

                $(document).on('click', '.icofont-close-squared-alt', function () {
                    cart_id = $(this).data('id');
                    current = $(this)

                    $.ajax({
        				type : "post",
        				url : "remove_from_cart",
        				data : {
        					cart_id : cart_id
        				},
        				cache : false,
        				success : function(res) {
                            current.parent().remove();
        				},
        				error : function(e) {

        				}
        			});
                });

                $(document).on('click', '.slider-app', function () {
                    software_id = $(this).data('id');

                    if (mass_select) {
                        $('.select-individual-software').each(function(i, obj) {
                            user_id = $(obj).data('id');

                            $.ajax({
                				type : "post",
                				url : "add_to_cart",
                				data : {
                					group_id : group_id,
                					user_id : user_id,
                					software_id : software_id
                				},
                				cache : false,
                				success : function(res) {
                                    $('.icofont-close-line').click();
                                    if (res != false) {
                                        response = res.split(",");
                                        $('#product-list-user-' + response[2]).append("<p><i class='icofont icofont-close-squared-alt' data-id='" + response[0] + "'></i> " + response[1] + "</p>");
                                    }
                				},
                				error : function(e) {

                				}
                			});
                        });
                    } else {
                        $.ajax({
            				type : "post",
            				url : "add_to_cart",
            				data : {
            					group_id : group_id,
            					user_id : user_id,
            					software_id : software_id
            				},
            				cache : false,
            				success : function(res) {
                                $('.icofont-close-line').click();
                                if (res != false) {
                                    response = res.split(",");
                                    $('#product-list-user-' + response[2]).append("<p><i class='icofont icofont-close-squared-alt' data-id='" + response[0] + "'></i> " + response[1] + "</p>");
                                }
            				},
            				error : function(e) {

            				}
            			});
                    }
                });

                $('.mark-individual-billing').on('change', function () {
                    user_id = $(this).data('id');

                    if(this.checked) {
                        billed = "billed";
                    } else {
                        billed = "self";
                    }

                    $.ajax({
        				type : "post",
        				url : "change_billing",
        				data : {
        					user_id : user_id,
                            billing : billed
        				},
        				cache : false,
        				success : function(res) {
        				},
        				error : function(e) {

        				}
        			});
                });

                $('#category-select').on('change', function() {
                    category_id = this.value;
                    $.ajax({
        				type : "post",
        				url : "get_sub_categories",
        				data : {
        					category_id : category_id
        				},
        				cache : false,
        				success : function(res) {
                            response = $.parseJSON(res);
                            $('#sub-category-select').empty();
                            $.each(response, function(i, subCategory) {
                                $('#sub-category-select').append($('<option>', {
                                    value: subCategory.id,
                                    text : subCategory.title
                                }));
                            });
        				},
        				error : function(e) {

        				}
        			});
                    $.ajax({
        				type : "post",
        				url : "get_category_products",
        				data : {
        					category_id : category_id
        				},
        				cache : false,
        				success : function(res) {
                            response = $.parseJSON(res);
                            $('#software-products').html('')
                            $.each(response, function(i, software) {
                                $('#software-products').append("<div class='col-md-4'><div class='sof_icon_type slider-app' data-toggle='popover' data-placement='right' data-html='true' data-id='" + software.id + "' data-content=''> <div class='icon_img'> <img src='assets/" + software.image + "' class='img-responsive' title='" + software.title + "'> </div> <div class='product_dtl'> <h5 class='pr_name'>" + software.title + "</h5> <p class='pr_description'>" + software.description + " </p></div></div></div>");
                            });
        				},
        				error : function(e) {

        				}
        			});
                });

                $('#sub-category-select').on('change', function() {
                    sub_category_id = this.value;
                    $.ajax({
        				type : "post",
        				url : "get_sub_category_products",
        				data : {
        					sub_category_id : sub_category_id
        				},
        				cache : false,
        				success : function(res) {
                            response = $.parseJSON(res);
                            $('#software-products').html('')
                            $.each(response, function(i, software) {
                                $('#software-products').append("<div class='col-md-4'><div class='sof_icon_type slider-app' data-toggle='popover' data-placement='right' data-html='true' data-id='" + software.id + "' data-content=''> <div class='icon_img'> <img src='assets/" + software.image + "' class='img-responsive' title='" + software.title + "'> </div> <div class='product_dtl'> <h5 class='pr_name'>" + software.title + "</h5> <p class='pr_description'>" + software.description + " </p></div></div></div>");
                            });
        				},
        				error : function(e) {

        				}
        			});
                });

                $('#product-search').bind("enterKey",function(e){
                   search = $(this).val();

                   $.ajax({
                       type : "post",
                       url : "search_products",
                       data : {
                           search : search
                       },
                       cache : false,
                       success : function(res) {
                           response = $.parseJSON(res);
                           $('#software-products').html('')
                           $.each(response, function(i, software) {
                               $('#software-products').append("<div class='col-md-4'><div class='sof_icon_type slider-app' data-toggle='popover' data-placement='right' data-html='true' data-id='" + software.id + "' data-content=''> <div class='icon_img'> <img src='assets/" + software.image + "' class='img-responsive' title='" + software.title + "'> </div> <div class='product_dtl'> <h5 class='pr_name'>" + software.title + "</h5> <p class='pr_description'>" + software.description + " </p></div></div></div>");
                           });
                       },
                       error : function(e) {

                       }
                   });
                });
                $('#product-search').keyup(function(e){
                    if(e.keyCode == 13)
                        $(this).trigger("enterKey");
                });
            });
        </script>
    </head>

    <body class="home" id="index2">
        <div id="preloader">
            <div class="preloader_spinner"></div>
        </div>
        <!-- preloader end -->

        <!-- ==========================================================
    1.*Header_area start
    ============================================================ -->
        <%= render 'header' %>

        <div class="romana_allPage_area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="romana_allPage_text text-center">
                            <h1>jshare Service</h1>
                            <ol class="breadcrumb hvr-shutter-out-horizontal">
                                <li>
                                    <a href="/">Jshare</a>
                                    <span></span>
                                </li>
                                <li>
                                    <a href="">no. of user</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
            <!-- container End -->
        </div>

        <div class="select_user">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>

                    <div class="col-md-10">
                        <div class="plan_bx">
                            <h3>Group Details</h3>
                            <form method="post" action="<%= request.base_url %>/jshare_upload" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" id="group_name" data-id="<%= @jshare_group.id if @jshare_group.present?%>" name="group_name" class="form-control" placeholder="Enter Group Name" value="<%= @jshare_group.group_name if @jshare_group.present?%>" required="true">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" name="group_password" class="form-control" placeholder="Enter Group Password" required="true">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control" placeholder="Enter Email" value="<%= @jshare_group.email if @jshare_group.present?%>" required="true">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="" class="form-control" placeholder="Enter No. of User" value="<%= @jshare_group.jshare_users.size if @jshare_group.present?%>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Upload Users Excel File</h5>
                                        <input type="file" name="user_list" class="space10" required="true">
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <button class="btn btn-primary" type="submit" name="submit" id="submit">Submit</button>
                                    </div>
                                </div>
                            </form>

                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <a href="/assets/resources/sample.xls" target="_blank">Get Sample File</a>
                                </div>
                            </div>
                        </div>
                        <!-- end plan_bx -->

                        <div class="users_list space40">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="space10">Users List</h4>
                                </div>

                                <div class="col-md-8 text-right">
                                    <div class="slct_users">
                                        <ul class="list-inline">
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" id="mark-group-billing">
                                                        Select all Users for Billng
                                                    </label>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" id="mark-group-software">
                                                        Select Software for all Users
                                                    </label>
                                                </div>
                                            </li>

                                            <li>
                                                <button class="btn btn-primary add_soft" id="select-group-software" style="display: none">
                                                    Select
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive space10">
                                <table class="table text-center">
                                    <thead class="bg_blue">
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Billing</th>
                                        <th>Selected Softwares</th>
                                        <th>Select Software</th>
                                    </thead>

                                    <tbody>
                                        <%if @jshare_group.present?%>
                                        <%@jshare_group.jshare_users.each do |jshare_user|%>
                                        <tr>
                                            <td><%=jshare_user.first_name%></td>
                                            <td><%=jshare_user.last_name%></td>
                                            <td><%=jshare_user.email%></td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" name="" data-id='<%=jshare_user.id%>' class="mark-individual-billing" <%if jshare_user.billing.eql? 'billed'%>checked<%end%> >
                                                </div>
                                            </td>
                                            <td>
                                                <div class="sft_count" id="product-list-user-<%=jshare_user.id%>">
                                                    <%jshare_user.jshare_carts.each do |jshare_cart|%>
                                                        <p><i class='icofont icofont-close-squared-alt' data-id='<%=jshare_cart.id%>'></i> <%=jshare_cart.software.title%></p>
                                                    <%end%>
                                                </div>
                                            </td>
                                            <td>
                                                <button class="btn btn-warning btn-xs add_soft select-individual-software" data-id="<%=jshare_user.id%>">
                                                    Select
                                                    <i class="icofont icofont-rounded-right"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <%end%>
                                        <%end%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end user list -->
                    </div>

                    <div class="col-md-1"></div>
                </div>
                <!-- end row -->

                <div class="nxt_btn text-center">
                    <a href="billing?group_id=<%= @jshare_group.id if @jshare_group.present?%>" target="_self">Next Step
                        <i class="icofont icofont-curved-double-right "></i>
                    </a>
                </div>

                <div class="result_soft scrollbox3">
                    <div class="cl_menu">
                        <i class="icofont icofont-close-line"></i>
                    </div>

                    <div class="fltr space10">
                        <div class="search">
                            <input type="text" class="form-control" name="" id="product-search" placeholder="Search Software/Games by Name">
                        </div>

                        <ul class="list-inline list-unstyled space20">
                            <li>
                                <select id="category-select">
                                    <%@categories.each do |category|%>
                                    <<option value="<%=category.id%>"><%=category.title%></option>
                                    <%end%>
                                </select>
                            </li>

                            <li>
                                <select id="sub-category-select">

                                </select>
                            </li>
                        </ul>
                    </div>
                    <!-- end fltr -->
                    <div class="row" id="software-products">
                    <%@softwares.each_with_index do |software, index|%>
                    <%if index == 0%>
                    <div class="row">
                    <%elsif index%3 == 0%>
                    </div>
                    <div class="row">
                    <%end%>
                        <div class="col-md-4">
                            <div
                                class="sof_icon_type slider-app"
                                data-toggle="popover"
                                data-placement="right"
                                data-html="true"
                                data-id="<%= software.id%>"
                                data-content="">
                                <div class="icon_img">
                                    <img src="assets/<%=software.image%>" class="img-responsive" title="<%=software.title%>">
                                </div>

                                <div class="product_dtl">
                                    <h5 class="pr_name">
                                        <%=software.title%>
                                    </h5>

                                    <!-- <h6 class="cpy_name">
                                        Adobe System
                                    </h6> -->

                                    <p class="pr_description">
                                        <%=software.description%>
                                    </p>
                                </div>
                            </div>
                            <!-- end sof_icon_type -->
                        </div>
                    <%if index == @softwares.size - 1%>
                    </div>
                    <%end%>
                    <%end%>
                    </div>
                </div>
                <!-- end result soft -->
            </div>
        </div>
        <!-- end all_plan -->

        <div class="romana_awesome_service_area romana_section_padding">
            <div class="container">
                <div class="romana_awesome_service_content">
                    <div class="row ">
                        <div class="col-sm-8 col-xs-12">
                            <div class="romana_awesome_service_text text-center">
                                <h2>We give always awesome service.</h2>
                            </div>
                        </div>
                        <!-- column End -->
                        <div class="col-sm-2 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                            <div class="romana_awesome_service_btn ">
                                <a href="#">start now</a>
                            </div>
                        </div>
                        <!-- column End -->
                    </div>
                    <!-- row End -->
                </div>
            </div>
            <!-- container End -->
        </div>

        <%= render 'footer' %>

        <!-- ======================================================
    ***Js Files***
=========================================================== -->

        <!-- ================= Main Js ==================== -->
    <script src="<%= request.base_url %>/assets/javascripts/jquery-3.1.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- ================= Bootstrap min Js =========== -->
    <script src="<%= request.base_url %>/assets/javascripts/bootstrap.min.js"></script>

    <!-- ================= owl carousel min Js ======== -->
    <script src="<%= request.base_url %>/assets/javascripts/owl.carousel.min1.js"></script>

    <!-- ================= Active Js ================== -->
    <script src="<%= request.base_url %>/assets/javascripts/active.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                $('.add_soft').click(function () {
                    $('.result_soft').addClass('open');
                });

                $('.cl_menu').click(function () {
                    $('.result_soft').removeClass('open');
                });

                /*scrollbar*/
                $('.scrollbox3').enscroll({showOnHover: true, verticalTrackClass: 'track3', verticalHandleClass: 'handle3'});

                $(function () {
                    var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
                    $('.nav li a').each(function () {
                        if (this.href === path) {
                            $(this).addClass('active');
                        }
                    });
                });
                //popover
                $("[data-toggle=popover]").popover();
            });
        </script>

    </body>

    <!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
</html>
