<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Cloud-Features page</title>

    <!-- ================================================================
        ***Favicon***
    ================================================================= -->

    <link rel="shortcut icon" type="image/png" href="<%= request.base_url %>/images/fevicon.png">

    <!-- ================================================================
        ***CSS File***
    ================================================================= -->
    <!-- ================= *** Google Font-Poppins *** ======================= -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- ================= *** Animate CSS *** ======================= -->
    <%= stylesheet_link_tag    'animate.min', media: 'all', 'data-turbolinks-track' => true %>

    <!--<link href="<%= request.base_url %>/css/animate.min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Bootstrap CSS *** ===================== -->
    <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css"> -->

    <!-- ================= *** Font-awesome CSS *** ================== -->
    <%= stylesheet_link_tag    'hover-min', media: 'all', 'data-turbolinks-track' => true %>
   <!-- <link href="<%= request.base_url %>/css/hover-min.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** icofont CSS *** ======================= -->
     <%= stylesheet_link_tag    'icofont', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/icofont.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Owl Carousel CSS *** ================== -->
     <%= stylesheet_link_tag    'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/owl.carousel.css" rel="stylesheet" type="text/css">-->

    <%= stylesheet_link_tag    'home_owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
    <!--<link href="<%= request.base_url %>/css/home_owl.carousel.css" rel="stylesheet" type="text/css">-->

    <!-- ================= *** Main CSS *** ========================== -->

    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="index2">
    <div id="preloader">
        <div class="preloader_spinner"></div>
    </div>
    <!-- preloader end -->

    <!-- ==========================================================
    1.*Header_area start
    ============================================================ -->
    <%= render 'header' %>
<!-- ==========================================================
2.*Hero_area start
============================================================ -->
    <div class="romana_allPage_area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="romana_allPage_text text-center">
                        <h1>features</h1>
                        <ol class="breadcrumb hvr-shutter-out-horizontal">
                            <li><a href="/">Home</a><span></span></li>
                            <li><a href="">Features</a></li>
                        </ol>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
<!-- ==========================================================
3.*romana_why_choose_area start
============================================================ -->
    <div class="romana_why_choose_area romana_section_padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="romana_section_title text-center">
                        <h2><%= @ss.service_page_title %></h2>
                        <p><%= @ss.service_page_description %></p>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-4">
                     <% i=1 %> 
                     <% @services.each do |service| %>
                        <% if i === 4 %>
                        </div><div class="col-sm-4">
                        <%  i = 1 end %>
                        <div class="romana_single_choose text-center">
                            <a href="#" class="hvr-wobble-skew"><img src="<%= request.base_url %>/assets/<%= service.image %>" width="70" alt="icon"></a>
                            <h3><%= service.title %></h3>
                            <p><%= service.description %></p>
                        </div>
                    <% i+=1 end %>
                </div>

                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
<!-- ==========================================================
4.*romana_awesome_service_area start
============================================================ -->
    <div class="romana_awesome_service_area romana_section_padding">
        <div class="container">
            <div class="romana_awesome_service_content">
                <div class="row ">
                    <div class="col-sm-8">
                        <div class="romana_awesome_service_text text-center">
                            <h2><%= @ss.service_page_opt_in_text %></h2>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-2 col-sm-offset-1 col-xs-12">
                        <div class="romana_awesome_service_btn">
                            <a href="registration">start now</a>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
        </div>
        <!-- container End -->
    </div>

<!-- ==================================================
5.*Footer_area start
=================================================== -->    
    <%= render 'footer' %>

<!-- ======================================================
    ***Js Files***
=========================================================== -->

    <!-- ================= Main Js ==================== -->
    <!-- ================= Main Js ==================== -->
    <script src="<%= request.base_url %>/assets/javascripts/jquery-3.1.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- ================= Bootstrap min Js =========== -->
    <script src="<%= request.base_url %>/assets/javascripts/bootstrap.min.js"></script>

    <!-- ================= owl carousel min Js ======== -->
    <script src="<%= request.base_url %>/assets/javascripts/owl.carousel.min1.js"></script>

    <!-- ================= Active Js ================== -->
    <script src="<%= request.base_url %>/assets/javascripts/active.js"></script>

</body>


<!-- Mirrored from crazycafe.net/demos/hosting/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2017 15:13:41 GMT -->
</html>